html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  position: relative;
}

img {
  max-width: 100%;
  height: auto;
  border: 1px solid #ccc;
}

// .main_slider
.main_visual {
  .box {
    margin: 0 35px;
    .mainVisual_slider {
      overflow: hidden;
      li {
        img {
          max-width: 100%;
          padding: 0 0 30px 0;
          cursor: pointer;
        }
      }
    }
  }
}

.favorite_artist_content {
  background-color: #f0f0f0;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: 600px;
  margin: auto;

  h2 {
    margin: 60px 0 40px 0;
    font-size: 3rem;
    cursor: pointer;
  }

  .wrapper {
    display: flex;
    justify-content: center;
    width: 1100px;
    height: 600px;
    border: 1px solid #ccc;
    margin: 0 auto;

    .artist_icons {
      display: flex;
      justify-content: center;
      gap: 31px;

      img {
        max-width: 100%;
        height: auto;
        cursor: pointer;
        transition: transform 0.3s ease;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}

// Music Chart

.magazine_content {
  h2 {
    margin: 60px 0 40px 0;
    font-size: 3rem;
    cursor: pointer;
  }
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: 800px;
  margin: auto;

  .wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 800px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    margin: 0 auto;
  }

  .magazine_slider {
    overflow: hidden;
    cursor: pointer;
  }
}

.new_artist_content {
  h2 {
    margin: 60px 0 40px 0;
    font-size: 3rem;
    cursor: pointer;
  }

  padding-bottom: 60px;
  width: 100%;
  margin: auto;
  background-color: #f0f0f0;

  .wrapper {
    display: flex;
    justify-content: center;
    width: 1100px;
    border: 1px solid #ccc;
    margin: 0 auto;

    .new_artist_icons {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 0;
      gap: 32px;
      padding: 0;

      .icon {
        width: calc((1100px - (3 * 33px)) / 4);
        display: flex;
        justify-content: center;
        box-sizing: border-box;
        overflow: hidden;

        img {
          max-width: 100%;
          height: auto;
          cursor: pointer;
          transition: transform 0.3s ease;

          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }
  }
}
