/* font */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ol,
ul,
li {
  list-style: none;
}

/*color*/
/* font */
/*header height*/
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: pretendard;
  color: #222;
  position: relative;
  background: #666;
}

.login_wrapper {
  padding: 60px 75px;
  width: 600px;
  height: 800px;
  border: none;
  background: #fff;
  left: 50%;
  transform: translateX(-50%);
  position: relative;
  margin-top: 58px;
  border-radius: 40px;
}
.login_wrapper .logo {
  width: 197px;
}
.login_wrapper .login {
  margin-top: 50px;
}
.login_wrapper .id input {
  width: 450px;
  height: 27px;
  margin-top: 28px;
  border: none;
  border-bottom: 1px solid #000;
}
.login_wrapper .id input::-moz-placeholder {
  -moz-transition: 0.3s;
  transition: 0.3s;
}
.login_wrapper .id input::placeholder {
  transition: 0.3s;
}
.login_wrapper .id input:focus::-moz-placeholder {
  opacity: none;
}
.login_wrapper .id input:focus::placeholder {
  opacity: none;
}
.login_wrapper .eye {
  position: relative;
}
.login_wrapper .eye input {
  width: 450px;
  height: 27px;
  margin-top: 18px;
  border: none;
  border-bottom: 1px solid #000;
}
.login_wrapper .eye input::-moz-placeholder {
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.login_wrapper .eye input::placeholder {
  transition: opacity 0.3s;
}
.login_wrapper .eye input:focus {
  outline: none;
}
.login_wrapper .eye input:focus::-moz-placeholder {
  opacity: 0;
}
.login_wrapper .eye input:focus::placeholder {
  opacity: 0;
}
.login_wrapper .eye i {
  color: #999;
  position: absolute;
  top: 50%;
  right: 8px;
  cursor: pointer;
}
.login_wrapper #identity {
  color: #666;
}
.login_wrapper #lock {
  margin-top: 27px;
  color: #666;
}
.login_wrapper .save {
  margin-top: 22px;
  margin-bottom: 50px;
}
.login_wrapper .save label {
  cursor: pointer;
}
.login_wrapper button {
  width: 450px;
  height: 59px;
  margin-bottom: 12px;
  border-radius: 10px;
  background: #03d8c5;
  color: #fff;
  border: none;
  font-weight: bold;
  font-size: 2rem;
  cursor: pointer;
}
.login_wrapper #search {
  display: flex;
  color: #999;
  justify-content: center;
  margin-bottom: 50px;
  gap: 19px;
}
.login_wrapper #search .line {
  background: #999;
  width: 1px;
  height: 18px;
  cursor: none;
}
.login_wrapper .continue li a {
  display: flex;
  width: 450px;
  height: 60px;
  color: #666;
  border: 1px solid #999;
  align-items: center;
  border-radius: 50px;
  padding-left: 90px;
  margin-bottom: 8px;
  gap: 35px;
}
.login_wrapper .continue li a #Google {
  margin-right: 35px;
}
.login_wrapper .continue li a > #apple {
  width: 20px;
  height: 23px;
}
.login_wrapper .continue li a #Facebook {
  margin-right: 35px;
}
.login_wrapper .continue li a p {
  font-size: 2rem;
}

.log_onwrapper {
  width: 600px;
  height: 800px;
  background: #fff;
  padding: 44px 75px;
  position: absolute;
  justify-content: center;
  border-radius: 40px;
}
.log_onwrapper .logo2 {
  width: 197px;
  height: 30px;
  margin-bottom: 30px;
}
.log_onwrapper .contents {
  padding: 0;
  width: 450px;
  height: 750px;
  position: absolute;
}
.log_onwrapper .contents li {
  width: 450px;
  height: 60px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 27px;
}
.log_onwrapper .contents li input {
  height: 27px;
  border: none;
  border-bottom: #000;
}
.log_onwrapper .contents .fourbox {
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
}
.log_onwrapper .contents .fourbox button {
  width: 108px;
  height: 40px;
}
.log_onwrapper .contents .fourbox button:first-child {
  border-radius: 8px 0 0 8px;
  border-right: none;
}
.log_onwrapper .contents .fourbox button:nth-child(2) {
  margin-right: 21px;
  border-radius: 0px 8px 8px 0px;
}
.log_onwrapper .contents .fourbox button:nth-child(3) {
  border-radius: 8px 0px 0px 8px;
  border-right: none;
}
.log_onwrapper .contents .fourbox button:nth-child(4) {
  border-radius: 0px 8px 8px 0px;
}
.log_onwrapper .contents .number {
  padding-top: 12px;
}
.log_onwrapper .signup button {
  width: 450px;
  height: 60px;
}/*# sourceMappingURL=style.css.map */