@import "./_variables.scss";

@mixin text_over {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

@mixin paging_btn_style {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  aspect-ratio: 1;
  border-radius: 50%;
}

.chart_section {
  margin-top: 80px;
  .wrapper {
    // chart_top
    .chart_top {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      .chart_cate {
        display: flex;
        gap: 10px;
        align-items: center;
        li {
          a {
            display: block;
            font-size: 1.6rem;
            padding: 10px 20px;
            border: 1px solid map-get($map: $color, $key: dark);
            border-radius: 100px;
            background: map-get($map: $color, $key: light);
          }
          &.active {
            a {
              font-weight: 600;
              color: map-get($map: $color, $key: light);
              background: map-get($map: $color, $key: dark);
            }
          }
        }
      }
      .chart_realtime {
        font-size: 1.6rem;
        font-weight: 400;
        color: map-get($map: $color, $key: gray_6);
      }
    }

    // chart head
    .chart_head {
      margin-top: 25px;
      height: 90px;
      display: flex;
      border-top: 1px solid map-get($map: $color, $key: gray_de);
      border-bottom: 1px solid map-get($map: $color, $key: gray_de);
      align-items: center;
      & > div {
        text-align: center;
        h3 {
          font-size: 1.8rem;
          font-weight: 400;
        }
      }
      .head_info {
        width: 57%;
        text-align: left;
        padding-left: 40px;
      }
      .head_album {
        width: 17%;
      }
      .head_favorite {
        width: 14%;
      }
      .head_play {
        width: 12%;
      }
    }

    // chart_list style
    .chart_list {
      li {
        display: flex;
        align-items: flex-start;
        position: relative;
        height: 130px;
        padding: 30px 0;
        transition: all 0.4s;

        .ranking {
          position: absolute;
          z-index: -1;
          top: 65px;
          right: calc(100% + 45px);
          transform: translateY(-50%);
          display: flex;
          align-items: center;
          gap: 44px;
          h4 {
            font-size: 2rem;
            font-weight: 400;
          }
          .icon {
            font-size: 0;
            width: 12px;
            img {
              &:nth-child(1) {
                display: inline-block;
              }
              &:nth-child(2) {
                display: none;
              }
              &:nth-child(3) {
                display: none;
              }
            }
            &.up {
              img {
                transform: rotate(0);
              }
            }
            &.down {
              img {
                transform: rotate(180deg);
              }
            }
            &.none {
              img {
                transform: rotate(0);
                &:nth-child(1) {
                  display: none;
                }
                &:nth-child(2) {
                  display: none;
                }
                &:nth-child(3) {
                  display: inline-block;
                }
              }
            }
          }
        }

        .music_info {
          width: 57%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          figure {
            width: 70px;
            aspect-ratio: 1;
            font-size: 0;
            img {
              max-width: 100%;
              border: 1px solid map-get($map: $color, $key: gray_de);
            }
          }
          .music_names {
            width: calc(100% - 70px - 18px);
            h4 {
              font-size: 2rem;
              font-weight: 600;
              @include text_over;
            }
            h5 {
              margin-top: 5px;
              font-size: 1.6rem;
              font-weight: 400;
              color: map-get($map: $color, $key: gray_6);
              @include text_over;
            }
          }
        }

        .music_album {
          width: 17%;
          height: 70px;
          display: flex;
          justify-content: center;
          align-items: center;
          p {
            font-size: 1.6rem;
            color: map-get($map: $color, $key: gray_6);
            text-align: center;
            word-break: keep-all;
            line-height: 1.3;
            @include text_over();
            line-clamp: 2;
            -webkit-line-clamp: 2;
          }
        }

        .music_favorite {
          width: 14%;
          height: 70px;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 4px;
          button {
            display: flex;
            align-items: center;
            img {
              width: 17.5px;
              &:nth-child(1) {
                display: inline-block;
              }
              &:nth-child(2) {
                display: none;
              }
            }
            &.click {
              img {
                &:nth-child(1) {
                  display: none;
                }
                &:nth-child(2) {
                  display: inline-block;
                }
              }
            }
          }
          span {
            width: 60px;
            font-size: 1.5rem;
            color: map-get($map: $color, $key: gray_6);
          }
        }

        .music_player {
          width: 12%;
          height: 70px;
          display: flex;
          align-items: center;
          justify-content: center;
          button {
            font-size: 0;
            img {
              width: 35px;
              &:nth-child(1) {
                display: inline-block;
              }
              &:nth-child(2) {
                display: none;
              }
            }
            &.playing {
              img {
                &:nth-child(1) {
                  display: none;
                }
                &:nth-child(2) {
                  display: inline-block;
                }
              }
            }
          }
        }

        .chart_bg {
          width: calc(100% + (100vw - 1100px) / 2 + 150px);
          height: inherit;
          opacity: 0;
          transition: opacity 0.2s;
          position: absolute;
          top: 0;
          left: -150px;
          z-index: -2;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center top;
          &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba(#000, 0.3);
          }
        }

        &:hover {
          height: 300px;
          .ranking {
            .rank_num {
              color: map-get($map: $color, $key: light);
            }
            .icon {
              &.up,
              &.down {
                img {
                  &:nth-child(1) {
                    display: none;
                  }
                  &:nth-child(2) {
                    display: inline-block;
                  }
                }
              }
            }
          }
          .music_names {
            h4,
            h5 {
              color: map-get($map: $color, $key: light);
            }
          }
          .music_album {
            p {
              color: map-get($map: $color, $key: light);
            }
          }
          .music_favorite {
            span {
              color: map-get($map: $color, $key: light);
            }
          }
          .chart_bg {
            opacity: 1;
          }
        }
      }
    }
  }
}

.paging_area {
  margin-top: 50px;
  margin-bottom: 120px;
  .paging_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    .paging_list {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 7px;
      li {
        a {
          @include paging_btn_style;
          font-size: 1.9rem;
        }
        &.active {
          a {
            background: map-get($map: $color, $key: dark);
            span {
              color: map-get($map: $color, $key: light);
              font-weight: 300;
            }
          }
        }
      }
    }
    .paging_btn {
      @include paging_btn_style;
      border: 1px solid map-get($map: $color, $key: gray_de);
      span {
        font-size: 2.2rem;
        color: map-get($map: $color, $key: gray_6);
        transform: translateX(3%);
      }
    }
  }
}

// detail info music list
.chart_section {
  &.detailinfo_chart {
    margin-top: 0;
    .wrapper {
      // chart head
      .chart_head {
        margin-top: 0;
        h3 {
          color: map-get($map: $color, $key: light);
        }
      }

      // chart_list style
      .chart_list {
        li {
          transition: none;
          .music_info {
            padding-left: 40px;

            .music_names {
              h4 {
                color: map-get($map: $color, $key: light);
              }
              h5 {
                color: map-get($map: $color, $key: gray_9);
              }
            }
          }

          .music_album {
            p {
              color: map-get($map: $color, $key: gray_9);
            }
          }

          .music_favorite {
            span {
              width: 52px;
              color: map-get($map: $color, $key: light);
            }
          }

          &:hover {
            height: inherit;
            .music_album {
              p {
                color: map-get($map: $color, $key: gray_9);
              }
            }
          }
        }
      }
    }
  }
}
