@import "./variables";

img {
  max-width: 100%;
  height: auto;
}

@mixin mtitle {
  font-size: 3rem;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  gap: 10px;
}

// 메인 슬라이더
.main_visual {
  padding-top: map-get($map: $headerHeight, $key: height_pc);
  .single-item {
    margin: 0 35px 35px 35px;
    border-radius: 40px;
    overflow: hidden;
    font-size: 0;
    .mainVisual_slider {
      overflow: hidden;
      height: 100%;
      width: 100%;
      img {
        max-width: 100%;
        width: 100%;
        object-fit: cover;
        &:nth-child(1) {
          display: inline-block;
        }
        &:nth-child(2) {
          display: none;
        }
      }
    }
  }

  .slick-prev,
  .slick-next {
    position: absolute;
    z-index: 10;
    top: initial;
    bottom: 8%;
    width: 25px;
    height: 25px;
    -webkit-transform: translate(0);
    -ms-transform: translate(0);
    transform: translate(0);
    &.slick-prev {
      left: 12.5%;
    }
    &.slick-next {
      left: 14.2%;
    }

    &::before {
      font-family: "fontawesome";
      font-size: calc(4px + 0.8vw);
      color: #fff;
      opacity: 1;
    }
  }
  .slick-prev {
    &::before {
      content: "\f053";
    }
  }
  .slick-next {
    &::before {
      content: "\f054";
    }
  }
}

// common artist_list
.artist_contents {
  background-color: map-get($map: $color, $key: gray_f3);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: auto;
  padding: 80px 0;

  // 4개 아티스트 아이콘
  .wrapper {
    // 타이틀
    h2 {
      @include mtitle();
    }

    .artist_icons {
      display: flex;
      flex-wrap: wrap;
      margin: 0;
      margin: -15px;
      li {
        width: 25%;
        padding: 15px;
        a {
          display: block;
          position: relative;
          border-radius: 20px;
          overflow: hidden;

          .icon {
            overflow: hidden;
            img {
              display: block;
              width: 100%;
              max-width: 100%;
              height: auto;
              cursor: pointer;
              transition: transform 0.3s ease;
            }
          }
          &:hover {
            .icon {
              img {
                transform: scale(1.1);
              }
            }
          }

          // 아이콘 텍스트
          .icon_text {
            padding: 22px 16px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: map-get($map: $color, $key: light);
            .artist_name {
              font-size: 2.5rem;
              text-align: center;
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}

// Music Chart >
.chart_section {
  &.main_chart5 {
    .wrapper {
      h2 {
        @include mtitle();
      }
      .chart_head {
        margin-top: 0;
      }
    }
  }
}
// Magazine >
.magazine_content {
  margin: 110px 0;
  width: 100%;
  h2 {
    margin-bottom: 40px;
    font-size: 3rem;
    cursor: pointer;
    display: inline-block;
  }

  // Magazine Slider
  .fade {
    position: relative;
    width: 100%;

    .magazine_slider {
      position: relative;
      cursor: pointer;
      img {
        width: 100%; // 이미지를 슬라이더 너비에 맞게 조정
        display: block;
        border-radius: 20px;
      }

      .slider-text {
        position: absolute;
        width: 80%;
        bottom: 11%;
        left: 9%;
        text-align: left; // 텍스트 왼쪽 정렬
        color: map-get($map: $color, $key: light);
        z-index: 1;
        display: flex;
        flex-direction: column;
        gap: 13px;
        .title {
          font-size: 3rem;
          font-weight: bold;
        }

        .name {
          font-size: 2rem;
          margin-bottom: 40px;
        }

        .slider-line {
          position: absolute;
          bottom: 3px;
          left: 0;
          width: 100px;
          height: 2px;
          background: white;
          z-index: 10;
        }
      }
    }
    .slick-prev,
    .slick-next {
      z-index: 1000;
      position: absolute;
      top: initial;
      bottom: 10%;

      width: 30px;
      height: 30px;

      -webkit-transform: translate(0);
      -ms-transform: translate(0);
      transform: translate(0);
      &.slick-prev {
        left: 21%;
      }
      &.slick-next {
        left: 23.7%;
      }

      &::before {
        font-family: "fontawesome";
        font-size: 2rem;
        line-height: 1;
        opacity: 1;
        color: map-get($map: $color, $key: light);
      }
    }
    .slick-prev {
      &::before {
        content: "\f053";
      }
    }
    .slick-next {
      &::before {
        content: "\f054";
      }
    }
  }
}
