@import "./_variables.scss";

// 로그인 페이지

@media screen and (max-width: 670px) {
  .login_wrapper {
    background-color: map-get($map: $color, $key: light);
    padding: 50px 50px;
    margin: 0;
    width: 100%;
    height: 100vh;
    border-radius: 0;
    .logo {
      width: 160px;
    }
    .login {
      width: 100%;
    }
    .eye {
      width: 100%;
      input {
        width: 100%;
        i {
          left: -70px;
        }
      }
    }
    .button {
      width: 100%;
    }
    #search {
      width: 100%;
      display: flex;
      font-size: 1.3rem;
      justify-content: center;
      align-items: center;
      margin-bottom: 50px;
    }
    ul.continue {
      width: 100%;
      display: flex;
      flex-direction: column;
      a {
        width: 100%;
        display: flex;
        padding-left: 0;
        justify-content: center;
        font-size: 1rem;
        gap: 20px;
      }
      p {
        font-size: 1.6rem;
      }
      li {
        #apple {
          margin-right: 10px;
        }
      }
      li {
        #facebook {
          margin-left: 19px;
        }
      }
    }
  }
}
@media screen and (max-width: 670px) {
  .log_onwrapper {
    background-color: map-get($map: $color, $key: light);
    padding: 50px 50px;
    margin: 0;
    border-radius: 0;
    width: 100%;
    height: 100vh;
    position: relative;
    .logo2 {
      width: 160px;
    }
    .logon_contents {
      position: relative;
      width: 100%;
      ul {
        position: absolute;
        width: 100%;
        li {
          width: 100%;
        }
        .fourbox {
          width: 100%;
          button {
            width: 70%;
          }
        }
      }
      .signup {
        & > div {
          position: relative;
          width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 670px) {
  .mypage {
    background-color: map-get($map: $color, $key: light);
    padding: 50px 50px;
    margin: 0;
    border-radius: 0;
    width: 100%;
    position: relative;
    transform: translateX(-50%);
    .info {
      margin-top: 60px;
      .myinfo {
        font-size: 2.7rem;
        margin-bottom: 28px;
      }
      .info_list {
        li {
          font-size: 1.8rem;
          // span{
          //   font-size: 2rem;
          // }
        }
      }
      .agree {
        font-size: 2.7rem;
      }
      .personal_info {
        li {
          font-size: 1.8rem;
        }
      }
    }
  }
}
