/* font */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ol,
ul,
li {
  list-style: none;
}

button {
  border: none;
  outline: none;
  background-color: inherit;
  cursor: pointer;
}

/*color*/
/* font */
/*header height*/
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: pretendard;
  color: #222;
  position: relative;
  overflow-x: hidden;
}

.wrapper {
  margin: 0 auto;
  width: 1100px;
}

#header {
  position: fixed;
  z-index: 1000;
  height: 100px;
  top: 0;
  left: 0;
  width: 100%;
  transform: translateY(0);
  transition: transform 0.3s;
  background: transparent;
}
#header.scroll::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100vw;
  height: 100px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
#header.hidden {
  transform: translateY(-100%);
}
#header .header_wrap {
  margin: 0 60px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header .header_wrap .header_left {
  display: flex;
  align-items: center;
  gap: 50px;
}
#header .header_wrap .header_left .header_logo a {
  display: block;
  font-size: 0;
}
#header .header_wrap .header_left .header_logo a img {
  width: 197px;
  -o-object-fit: cover;
     object-fit: cover;
}
#header .header_wrap .header_left .header_logo a img:nth-child(2) {
  display: none;
}
#header .header_wrap .header_left #gnb {
  display: flex;
  align-items: center;
  gap: 40px;
}
#header .header_wrap .header_left #gnb li a {
  display: block;
  font-size: 2rem;
  font-weight: 600;
  transition: color 0.3s;
}
#header .header_wrap .header_left #gnb li:hover a {
  color: #03d8c5;
}
#header .header_wrap .header_right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
}
#header .header_wrap .header_right .search_bar {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}
#header .header_wrap .header_right .search_bar .search_btn {
  border: none;
  background: none;
  font-size: 0;
  cursor: pointer;
}
#header .header_wrap .header_right .search_bar .search_btn img {
  width: 16px;
  aspect-ratio: 1;
  -o-object-fit: cover;
     object-fit: cover;
}
#header .header_wrap .header_right .search_bar .search_txt {
  width: 180px;
  padding-bottom: 3px;
  font-size: 1.4rem;
  border: none;
  border-bottom: 1px solid #999;
  font-family: pretendard;
  background: none;
}
#header .header_wrap .header_right .search_bar .search_txt:focus {
  outline: none;
}
#header .header_wrap .header_right .search_bar .search_txt::-moz-placeholder {
  color: #dedede;
}
#header .header_wrap .header_right .search_bar .search_txt::placeholder {
  color: #dedede;
}
#header .header_wrap .header_right .signup_btn {
  padding: 7px 15px 10px;
  border: 1px solid #03d8c5;
  border-radius: 5px;
  font-size: 0;
  text-align: center;
  color: #03d8c5;
}
#header .header_wrap .header_right .signup_btn span {
  display: inline-block;
  font-size: 15px;
  line-height: 1;
}
#header .header_wrap .header_right .signup_btn i {
  display: none;
}
#header .header_wrap .header_right_m {
  display: none;
}
#header .header_wrap #m_header_menu {
  display: none;
}
#header.bg_black .header_wrap .header_left .header_logo a img:nth-child(1) {
  display: none;
}
#header.bg_black .header_wrap .header_left .header_logo a img:nth-child(2) {
  display: block;
}
#header.bg_black .header_wrap .header_left #gnb li a {
  color: #fff;
}
#header.bg_black .header_wrap .header_left #gnb li:hover a {
  color: #03d8c5;
}
#header.bg_black .header_wrap .header_right .search_bar .search_txt {
  color: #fff;
}

.visual {
  padding-top: 100px;
}
.visual .box {
  width: 1100px;
  margin: 0 auto;
  height: 900px;
  background: url("../imgs/Plave_group.jpg") no-repeat center/cover;
  border-radius: 40px;
}

.content {
  margin-top: 80px;
}
.content .wrapper {
  border: 1px solid #000;
  height: 1500px;
}

.sub_visual {
  margin-top: 100px;
  margin-left: 35px;
  margin-right: 35px;
  background: #ddd;
  border-radius: 40px;
  height: 320px;
}

.chart_section {
  margin-top: 115px;
}
.chart_section .wrapper .chart_top {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.chart_section .wrapper .chart_top .chart_cate {
  display: flex;
  gap: 10px;
  align-items: center;
}
.chart_section .wrapper .chart_top .chart_cate li a {
  display: block;
  font-size: 1.6rem;
  padding: 10px 20px;
  border: 1px solid #222;
  border-radius: 100px;
  background: #fff;
}
.chart_section .wrapper .chart_top .chart_cate li.active a {
  font-weight: 600;
  color: #fff;
  background: #222;
}
.chart_section .wrapper .chart_top .chart_realtime {
  font-size: 1.6rem;
  font-weight: 400;
  color: #666;
}
.chart_section .wrapper .chart_head {
  margin-top: 25px;
  height: 90px;
  display: flex;
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
  align-items: center;
}
.chart_section .wrapper .chart_head > div {
  text-align: center;
}
.chart_section .wrapper .chart_head > div h3 {
  font-size: 1.8rem;
  font-weight: 400;
}
.chart_section .wrapper .chart_head .head_info {
  width: 57%;
  text-align: left;
  padding-left: 40px;
}
.chart_section .wrapper .chart_head .head_album {
  width: 17%;
}
.chart_section .wrapper .chart_head .head_favorite {
  width: 14%;
}
.chart_section .wrapper .chart_head .head_play {
  width: 12%;
}
.chart_section .wrapper .chart_list li {
  display: flex;
  align-items: flex-start;
  position: relative;
  padding: 30px 0;
  transition: all 0.4s;
  height: 130px;
}
.chart_section .wrapper .chart_list li .ranking {
  position: absolute;
  z-index: -1;
  top: 65px;
  right: calc(100% + 45px);
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  gap: 44px;
}
.chart_section .wrapper .chart_list li .ranking h4 {
  font-size: 20px;
  font-weight: 400;
}
.chart_section .wrapper .chart_list li .ranking .icon {
  font-size: 0;
}
.chart_section .wrapper .chart_list li .ranking .icon img:nth-child(1) {
  display: inline-block;
}
.chart_section .wrapper .chart_list li .ranking .icon img:nth-child(2) {
  display: none;
}
.chart_section .wrapper .chart_list li .music_info {
  width: 57%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.chart_section .wrapper .chart_list li .music_info figure {
  width: 70px;
  aspect-ratio: 1;
  font-size: 0;
}
.chart_section .wrapper .chart_list li .music_info figure img {
  max-width: 100%;
  border: 1px solid #dedede;
}
.chart_section .wrapper .chart_list li .music_info .music_names {
  width: calc(100% - 70px - 18px);
}
.chart_section .wrapper .chart_list li .music_info .music_names h4 {
  font-size: 2rem;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.chart_section .wrapper .chart_list li .music_info .music_names h5 {
  margin-top: 5px;
  font-size: 1.6rem;
  font-weight: 400;
  color: #666;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.chart_section .wrapper .chart_list li .music_album {
  width: 17%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chart_section .wrapper .chart_list li .music_album p {
  color: #666;
  text-align: center;
  line-height: 1.3;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  line-clamp: 2;
  -webkit-line-clamp: 2;
}
.chart_section .wrapper .chart_list li .music_favorite {
  width: 14%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.chart_section .wrapper .chart_list li .music_favorite button {
  display: flex;
  align-items: center;
}
.chart_section .wrapper .chart_list li .music_favorite button img {
  width: 17.5px;
}
.chart_section .wrapper .chart_list li .music_favorite button img:nth-child(1) {
  display: inline-block;
}
.chart_section .wrapper .chart_list li .music_favorite button img:nth-child(2) {
  display: none;
}
.chart_section .wrapper .chart_list li .music_favorite span {
  font-size: 1.5rem;
  color: #666;
}
.chart_section .wrapper .chart_list li .music_player {
  width: 12%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.chart_section .wrapper .chart_list li .chart_bg {
  width: calc(100% + (100vw - 1100px) / 2 + 150px);
  height: inherit;
  opacity: 0;
  transition: opacity 0.2s;
  position: absolute;
  top: 0;
  left: -150px;
  z-index: -2;
  background-image: url("../imgs/chart_bg_ive.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}
.chart_section .wrapper .chart_list li .chart_bg::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
.chart_section .wrapper .chart_list li:hover {
  height: 300px;
}
.chart_section .wrapper .chart_list li:hover .ranking .rank_num {
  color: #fff;
}
.chart_section .wrapper .chart_list li:hover .ranking .icon img:nth-child(1) {
  display: none;
}
.chart_section .wrapper .chart_list li:hover .ranking .icon img:nth-child(2) {
  display: inline-block;
}
.chart_section .wrapper .chart_list li:hover .music_names h4,
.chart_section .wrapper .chart_list li:hover .music_names h5 {
  color: #fff;
}
.chart_section .wrapper .chart_list li:hover .music_album p {
  color: #fff;
}
.chart_section .wrapper .chart_list li:hover .music_favorite span {
  color: #fff;
}
.chart_section .wrapper .chart_list li:hover .chart_bg {
  opacity: 1;
}