/* font */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

@import "./reset.scss";
@import "./variables.scss";

// common
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: map-get($map: $font, $key: pretendard);
  color: map-get($map: $color, $key: dark);
  position: relative;
  overflow-x: hidden;
}

.wrapper {
  margin: 0 auto;
  width: 1100px;
}

// header
#header {
  position: fixed;
  z-index: 1000;
  height: map-get($map: $headerHeight, $key: height_pc);
  top: 0;
  left: 0;
  width: 100%;
  transform: translateY(0);
  transition: transform 0.3s;
  background: transparent;
  &.scroll {
    &::before {
      content: "";
      display: block;
      position: absolute;
      z-index: -1;
      width: 100vw;
      height: map-get($map: $headerHeight, $key: height_pc);
      backdrop-filter: blur(10px);
    }
  }
  &.hidden {
    transform: translateY(-100%);
  }
  .header_wrap {
    margin: 0 60px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .header_left {
      display: flex;
      align-items: center;
      gap: 50px;
      .header_logo {
        a {
          display: block;
          font-size: 0;
          img {
            width: 197px;
            object-fit: cover;
            &:nth-child(2) {
              display: none;
            }
          }
        }
      }
      #gnb {
        display: flex;
        align-items: center;
        gap: 40px;
        li {
          a {
            display: block;
            font-size: 2rem;
            font-weight: 600;
            transition: color 0.3s;
          }
          &:hover a {
            color: map-get($map: $color, $key: main);
          }
        }
      }
    }
    .header_right {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 16px;
      .search_bar {
        display: flex;
        align-items: flex-start;
        gap: 8px;
        .search_btn {
          border: none;
          background: none;
          font-size: 0;
          cursor: pointer;
          img {
            width: 16px;
            aspect-ratio: 1;
            object-fit: cover;
          }
        }
        .search_txt {
          width: 180px;
          padding-bottom: 3px;
          font-size: 1.4rem;
          border: none;
          border-bottom: 1px solid map-get($map: $color, $key: gray_9);
          font-family: map-get($map: $font, $key: pretendard);
          background: none;
          &:focus {
            outline: none;
          }
          &::placeholder {
            color: map-get($map: $color, $key: gray_de);
          }
        }
      }
      .signup_btn {
        padding: 7px 15px 10px;
        border: 1px solid map-get($map: $color, $key: main);
        border-radius: 5px;
        font-size: 0;
        text-align: center;
        color: map-get($map: $color, $key: main);
        span {
          display: inline-block;
          font-size: 15px;
          line-height: 1;
        }
        i {
          display: none;
        }
      }
    }
    .header_right_m {
      display: none;
    }
    #m_header_menu {
      display: none;
    }
  }
  &.bg_black {
    .header_wrap {
      .header_left {
        .header_logo {
          a {
            img {
              &:nth-child(1) {
                display: none;
              }
              &:nth-child(2) {
                display: block;
              }
            }
          }
        }
        #gnb {
          li {
            a {
              color: map-get($map: $color, $key: light);
            }
            &:hover a {
              color: map-get($map: $color, $key: main);
            }
          }
        }
      }
      .header_right {
        .search_bar {
          .search_txt {
            color: map-get($map: $color, $key: light);
          }
        }
      }
    }
  }
}
