@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
img {
  max-width: 100%;
  height: auto;
}

.main_visual {
  padding-top: 100px;
}
.main_visual .single-item {
  margin: 0 35px 35px 35px;
  border-radius: 40px;
  overflow: hidden;
  font-size: 0;
}
.main_visual .single-item .mainVisual_slider {
  overflow: hidden;
  height: 100%;
  width: 100%;
}
.main_visual .single-item .mainVisual_slider img {
  max-width: 100%;
  width: 100%;
  object-fit: cover;
}
.main_visual .single-item .mainVisual_slider img:nth-child(1) {
  display: inline-block;
}
.main_visual .single-item .mainVisual_slider img:nth-child(2) {
  display: none;
}
.main_visual .slick-prev,
.main_visual .slick-next {
  position: absolute;
  z-index: 10;
  top: initial;
  bottom: 8%;
  width: 25px;
  height: 25px;
  -webkit-transform: translate(0);
  -ms-transform: translate(0);
  transform: translate(0);
}
.main_visual .slick-prev.slick-prev,
.main_visual .slick-next.slick-prev {
  left: 11.5%;
}
.main_visual .slick-prev.slick-next,
.main_visual .slick-next.slick-next {
  left: 13.5%;
}
.main_visual .slick-prev::before,
.main_visual .slick-next::before {
  font-family: "fontawesome";
  font-size: calc(4px + 0.8vw);
  color: #fff;
  opacity: 1;
}
.main_visual .slick-prev::before {
  content: "\f053";
}
.main_visual .slick-next::before {
  content: "\f054";
}

.artist_contents {
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: auto;
  padding: 60px 0;
}
.artist_contents .wrapper h2 {
  font-size: 3rem;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  gap: 10px;
}
.artist_contents .wrapper .artist_icons {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin: -15px;
}
.artist_contents .wrapper .artist_icons li {
  width: 25%;
  padding: 15px;
}
.artist_contents .wrapper .artist_icons li a {
  display: block;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}
.artist_contents .wrapper .artist_icons li a .icon {
  overflow: hidden;
}
.artist_contents .wrapper .artist_icons li a .icon img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.artist_contents .wrapper .artist_icons li a:hover .icon img {
  transform: scale(1.1);
}
.artist_contents .wrapper .artist_icons li a .icon_text {
  padding: 24px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
}
.artist_contents .wrapper .artist_icons li a .icon_text .artist_name {
  font-size: 2.5rem;
  text-align: center;
  font-weight: bold;
}

.chart_section.main_chart5 .wrapper h2 {
  font-size: 3rem;
  display: flex;
  align-items: center;
  gap: 10px;
}
.chart_section.main_chart5 .wrapper .chart_head {
  margin-top: 40px;
}

.magazine_content {
  background-color: #ffffff;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: 800px;
  margin: auto;
}
.magazine_content h2 {
  margin: 60px 0 40px 0;
  font-size: 3rem;
  cursor: pointer;
  display: inline-block;
}
.magazine_content .fade {
  position: relative;
  width: 100%;
}
.magazine_content .fade .magazine_slider {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.magazine_content .fade .magazine_slider img {
  width: 100%;
  display: block;
}
.magazine_content .fade .magazine_slider .slider-text {
  position: absolute;
  top: 45.3%;
  left: 41.5%;
  transform: translate(-80%, 217%);
  text-align: left;
  color: white;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 13px;
}
.magazine_content .fade .magazine_slider .title {
  font-size: 30px;
  font-weight: bold;
  margin: 0, 20, 100px;
}
.magazine_content .fade .magazine_slider .name {
  font-size: 20px;
  margin: 0, 20, 30, 30px;
}
.magazine_content .fade .slick-prev::before,
.magazine_content .fade .slick-next::before {
  position: absolute;
  font-family: "fontawesome";
  font-size: 20px;
  line-height: 1;
  z-index: 3;
  opacity: 1;
  color: black;
}
.magazine_content .fade .slick-prev::before {
  content: "\f053";
  z-index: 1000;
  top: 900%;
  left: 120%;
  transform: translate(-30%, 300%);
}
.magazine_content .fade .slick-next::before {
  content: "\f054";
  top: 900%;
  left: -4050%;
  transform: translate(-200%, 300%);
}

/*
      .column {
        width: calc((1100px - (3 * 31px)) / 4);
        flex-direction: column;
        border-radius: 20px;
        overflow: hidden;

        .icon {
          width: 100%;

          img {
            width: 100%;
            height: auto;
            cursor: pointer;
            transition: transform 0.3s ease;
            border-radius: 20px;

            &:hover {
              transform: scale(1.1);
            }
          }
        }

        .icon_text img {
          width: 100%;
          height: auto;
        }
      }
		*/
.chart_section {
  margin-top: 115px;
}
.chart_section .wrapper .chart_top {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.chart_section .wrapper .chart_top .chart_cate {
  display: flex;
  gap: 10px;
  align-items: center;
}
.chart_section .wrapper .chart_top .chart_cate li a {
  display: block;
  font-size: 1.6rem;
  padding: 10px 20px;
  border: 1px solid #222;
  border-radius: 100px;
  background: #fff;
}
.chart_section .wrapper .chart_top .chart_cate li.active a {
  font-weight: 600;
  color: #fff;
  background: #222;
}
.chart_section .wrapper .chart_top .chart_realtime {
  font-size: 1.6rem;
  font-weight: 400;
  color: #666;
}
.chart_section .wrapper .chart_head {
  margin-top: 25px;
  height: 90px;
  display: flex;
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
  align-items: center;
}
.chart_section .wrapper .chart_head > div {
  text-align: center;
}
.chart_section .wrapper .chart_head > div h3 {
  font-size: 1.8rem;
  font-weight: 400;
}
.chart_section .wrapper .chart_head .head_info {
  width: 57%;
  text-align: left;
  padding-left: 40px;
}
.chart_section .wrapper .chart_head .head_album {
  width: 17%;
}
.chart_section .wrapper .chart_head .head_favorite {
  width: 14%;
}
.chart_section .wrapper .chart_head .head_play {
  width: 12%;
}
.chart_section .wrapper .chart_list li {
  display: flex;
  align-items: flex-start;
  position: relative;
  height: 130px;
  padding: 30px 0;
  transition: all 0.4s;
}
.chart_section .wrapper .chart_list li .ranking {
  position: absolute;
  z-index: -1;
  top: 65px;
  right: calc(100% + 45px);
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  gap: 44px;
}
.chart_section .wrapper .chart_list li .ranking h4 {
  font-size: 2rem;
  font-weight: 400;
}
.chart_section .wrapper .chart_list li .ranking .icon {
  font-size: 0;
}
.chart_section .wrapper .chart_list li .ranking .icon img:nth-child(1) {
  display: inline-block;
}
.chart_section .wrapper .chart_list li .ranking .icon img:nth-child(2) {
  display: none;
}
.chart_section .wrapper .chart_list li .ranking .icon img:nth-child(3) {
  display: none;
}
.chart_section .wrapper .chart_list li .ranking .icon.up img {
  transform: rotate(0);
}
.chart_section .wrapper .chart_list li .ranking .icon.down img {
  transform: rotate(180deg);
}
.chart_section .wrapper .chart_list li .ranking .icon.none img {
  transform: rotate(0);
}
.chart_section .wrapper .chart_list li .ranking .icon.none img:nth-child(1) {
  display: none;
}
.chart_section .wrapper .chart_list li .ranking .icon.none img:nth-child(2) {
  display: none;
}
.chart_section .wrapper .chart_list li .ranking .icon.none img:nth-child(3) {
  display: inline-block;
}
.chart_section .wrapper .chart_list li .music_info {
  width: 57%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.chart_section .wrapper .chart_list li .music_info figure {
  width: 70px;
  aspect-ratio: 1;
  font-size: 0;
}
.chart_section .wrapper .chart_list li .music_info figure img {
  max-width: 100%;
  border: 1px solid #dedede;
}
.chart_section .wrapper .chart_list li .music_info .music_names {
  width: calc(100% - 70px - 18px);
}
.chart_section .wrapper .chart_list li .music_info .music_names h4 {
  font-size: 2rem;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.chart_section .wrapper .chart_list li .music_info .music_names h5 {
  margin-top: 5px;
  font-size: 1.6rem;
  font-weight: 400;
  color: #666;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.chart_section .wrapper .chart_list li .music_album {
  width: 17%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chart_section .wrapper .chart_list li .music_album p {
  font-size: 1.6rem;
  color: #666;
  text-align: center;
  word-break: keep-all;
  line-height: 1.3;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  line-clamp: 2;
  -webkit-line-clamp: 2;
}
.chart_section .wrapper .chart_list li .music_favorite {
  width: 14%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.chart_section .wrapper .chart_list li .music_favorite button {
  display: flex;
  align-items: center;
}
.chart_section .wrapper .chart_list li .music_favorite button img {
  width: 17.5px;
}
.chart_section .wrapper .chart_list li .music_favorite button img:nth-child(1) {
  display: inline-block;
}
.chart_section .wrapper .chart_list li .music_favorite button img:nth-child(2) {
  display: none;
}
.chart_section .wrapper .chart_list li .music_favorite button.click img:nth-child(1) {
  display: none;
}
.chart_section .wrapper .chart_list li .music_favorite button.click img:nth-child(2) {
  display: inline-block;
}
.chart_section .wrapper .chart_list li .music_favorite span {
  width: 60px;
  font-size: 1.5rem;
  color: #666;
}
.chart_section .wrapper .chart_list li .music_player {
  width: 12%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.chart_section .wrapper .chart_list li .music_player button {
  font-size: 0;
}
.chart_section .wrapper .chart_list li .music_player button img {
  width: 35px;
}
.chart_section .wrapper .chart_list li .music_player button img:nth-child(1) {
  display: inline-block;
}
.chart_section .wrapper .chart_list li .music_player button img:nth-child(2) {
  display: none;
}
.chart_section .wrapper .chart_list li .music_player button.playing img:nth-child(1) {
  display: none;
}
.chart_section .wrapper .chart_list li .music_player button.playing img:nth-child(2) {
  display: inline-block;
}
.chart_section .wrapper .chart_list li .chart_bg {
  width: calc(100% + (100vw - 1100px) / 2 + 150px);
  height: inherit;
  opacity: 0;
  transition: opacity 0.2s;
  position: absolute;
  top: 0;
  left: -150px;
  z-index: -2;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}
.chart_section .wrapper .chart_list li .chart_bg::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
.chart_section .wrapper .chart_list li:hover {
  height: 300px;
}
.chart_section .wrapper .chart_list li:hover .ranking .rank_num {
  color: #fff;
}
.chart_section .wrapper .chart_list li:hover .ranking .icon.up img:nth-child(1), .chart_section .wrapper .chart_list li:hover .ranking .icon.down img:nth-child(1) {
  display: none;
}
.chart_section .wrapper .chart_list li:hover .ranking .icon.up img:nth-child(2), .chart_section .wrapper .chart_list li:hover .ranking .icon.down img:nth-child(2) {
  display: inline-block;
}
.chart_section .wrapper .chart_list li:hover .music_names h4,
.chart_section .wrapper .chart_list li:hover .music_names h5 {
  color: #fff;
}
.chart_section .wrapper .chart_list li:hover .music_album p {
  color: #fff;
}
.chart_section .wrapper .chart_list li:hover .music_favorite span {
  color: #fff;
}
.chart_section .wrapper .chart_list li:hover .chart_bg {
  opacity: 1;
}

.paging_area {
  margin-top: 50px;
  margin-bottom: 120px;
}
.paging_area .paging_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
}
.paging_area .paging_wrap .paging_list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
}
.paging_area .paging_wrap .paging_list li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  aspect-ratio: 1;
  border-radius: 50%;
  font-size: 1.9rem;
}
.paging_area .paging_wrap .paging_list li.active a {
  background: #222;
}
.paging_area .paging_wrap .paging_list li.active a span {
  color: #fff;
  font-weight: 300;
}
.paging_area .paging_wrap .paging_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 1px solid #dedede;
}
.paging_area .paging_wrap .paging_btn span {
  font-size: 2.2rem;
  color: #666;
  transform: translateX(3%);
}

.chart_section.detailinfo_chart {
  margin-top: 0;
}
.chart_section.detailinfo_chart .wrapper .chart_head {
  margin-top: 0;
}
.chart_section.detailinfo_chart .wrapper .chart_head h3 {
  color: #fff;
}
.chart_section.detailinfo_chart .wrapper .chart_list li {
  transition: none;
}
.chart_section.detailinfo_chart .wrapper .chart_list li .music_info {
  padding-left: 40px;
}
.chart_section.detailinfo_chart .wrapper .chart_list li .music_info .music_names h4 {
  color: #fff;
}
.chart_section.detailinfo_chart .wrapper .chart_list li .music_info .music_names h5 {
  color: #999;
}
.chart_section.detailinfo_chart .wrapper .chart_list li .music_album p {
  color: #999;
}
.chart_section.detailinfo_chart .wrapper .chart_list li .music_favorite span {
  width: 52px;
  color: #fff;
}
.chart_section.detailinfo_chart .wrapper .chart_list li:hover {
  height: inherit;
}
.chart_section.detailinfo_chart .wrapper .chart_list li:hover .music_album p {
  color: #999;
}

.chart_section .wrapper .chart_head {
  margin-top: 25px;
  height: 90px;
  display: flex;
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
  align-items: center;
}
.chart_section .wrapper .chart_head > div {
  text-align: center;
}
.chart_section .wrapper .chart_head > div h3 {
  font-size: 1.8rem;
  font-weight: 400;
}
.chart_section .wrapper .chart_head .head_info {
  width: 57%;
  text-align: left;
  padding-left: 40px;
}
.chart_section .wrapper .chart_head .head_album {
  width: 17%;
}
.chart_section .wrapper .chart_head .head_favorite {
  width: 14%;
}
.chart_section .wrapper .chart_head .head_play {
  width: 12%;
}
.chart_section .wrapper .chart_list li {
  display: flex;
  align-items: flex-start;
  position: relative;
  height: 130px;
  padding: 30px 0;
  transition: all 0.4s;
}
.chart_section .wrapper .chart_list li .ranking {
  position: absolute;
  z-index: -1;
  top: 65px;
  right: calc(100% + 45px);
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  gap: 44px;
}
.chart_section .wrapper .chart_list li .ranking h4 {
  font-size: 2rem;
  font-weight: 400;
}
.chart_section .wrapper .chart_list li .ranking .icon {
  font-size: 0;
}
.chart_section .wrapper .chart_list li .ranking .icon img:nth-child(1) {
  display: inline-block;
}
.chart_section .wrapper .chart_list li .ranking .icon img:nth-child(2) {
  display: none;
}
.chart_section .wrapper .chart_list li .ranking .icon img:nth-child(3) {
  display: none;
}
.chart_section .wrapper .chart_list li .ranking .icon.up img {
  transform: rotate(0);
}
.chart_section .wrapper .chart_list li .ranking .icon.down img {
  transform: rotate(180deg);
}
.chart_section .wrapper .chart_list li .ranking .icon.none img {
  transform: rotate(0);
}
.chart_section .wrapper .chart_list li .ranking .icon.none img:nth-child(1) {
  display: none;
}
.chart_section .wrapper .chart_list li .ranking .icon.none img:nth-child(2) {
  display: none;
}
.chart_section .wrapper .chart_list li .ranking .icon.none img:nth-child(3) {
  display: inline-block;
}
.chart_section .wrapper .chart_list li .music_info {
  width: 57%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.chart_section .wrapper .chart_list li .music_info figure {
  width: 70px;
  aspect-ratio: 1;
  font-size: 0;
}
.chart_section .wrapper .chart_list li .music_info figure img {
  max-width: 100%;
  border: 1px solid #dedede;
}
.chart_section .wrapper .chart_list li .music_info .music_names {
  width: calc(100% - 70px - 18px);
}
.chart_section .wrapper .chart_list li .music_info .music_names h4 {
  font-size: 2rem;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.chart_section .wrapper .chart_list li .music_info .music_names h5 {
  margin-top: 5px;
  font-size: 1.6rem;
  font-weight: 400;
  color: #666;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.chart_section .wrapper .chart_list li .music_album {
  width: 17%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chart_section .wrapper .chart_list li .music_album p {
  font-size: 1.6rem;
  color: #666;
  text-align: center;
  word-break: keep-all;
  line-height: 1.3;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  line-clamp: 2;
  -webkit-line-clamp: 2;
}
.chart_section .wrapper .chart_list li .music_favorite {
  width: 14%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.chart_section .wrapper .chart_list li .music_favorite button {
  display: flex;
  align-items: center;
}
.chart_section .wrapper .chart_list li .music_favorite button img {
  width: 17.5px;
}
.chart_section .wrapper .chart_list li .music_favorite button img:nth-child(1) {
  display: inline-block;
}
.chart_section .wrapper .chart_list li .music_favorite button img:nth-child(2) {
  display: none;
}
.chart_section .wrapper .chart_list li .music_favorite button.click img:nth-child(1) {
  display: none;
}
.chart_section .wrapper .chart_list li .music_favorite button.click img:nth-child(2) {
  display: inline-block;
}
.chart_section .wrapper .chart_list li .music_favorite span {
  width: 60px;
  font-size: 1.5rem;
  color: #666;
}
.chart_section .wrapper .chart_list li .music_player {
  width: 12%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.chart_section .wrapper .chart_list li .music_player button {
  font-size: 0;
}
.chart_section .wrapper .chart_list li .music_player button img {
  width: 35px;
}
.chart_section .wrapper .chart_list li .music_player button img:nth-child(1) {
  display: inline-block;
}
.chart_section .wrapper .chart_list li .music_player button img:nth-child(2) {
  display: none;
}
.chart_section .wrapper .chart_list li .music_player button.playing img:nth-child(1) {
  display: none;
}
.chart_section .wrapper .chart_list li .music_player button.playing img:nth-child(2) {
  display: inline-block;
}
.chart_section .wrapper .chart_list li .chart_bg {
  width: calc(100% + (100vw - 1100px) / 2 + 150px);
  height: inherit;
  opacity: 0;
  transition: opacity 0.2s;
  position: absolute;
  top: 0;
  left: -150px;
  z-index: -2;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}
.chart_section .wrapper .chart_list li .chart_bg::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
.chart_section .wrapper .chart_list li:hover {
  height: 300px;
}
.chart_section .wrapper .chart_list li:hover .ranking .rank_num {
  color: #fff;
}
.chart_section .wrapper .chart_list li:hover .ranking .icon.up img:nth-child(1), .chart_section .wrapper .chart_list li:hover .ranking .icon.down img:nth-child(1) {
  display: none;
}
.chart_section .wrapper .chart_list li:hover .ranking .icon.up img:nth-child(2), .chart_section .wrapper .chart_list li:hover .ranking .icon.down img:nth-child(2) {
  display: inline-block;
}
.chart_section .wrapper .chart_list li:hover .music_names h4,
.chart_section .wrapper .chart_list li:hover .music_names h5 {
  color: #fff;
}
.chart_section .wrapper .chart_list li:hover .music_album p {
  color: #fff;
}
.chart_section .wrapper .chart_list li:hover .music_favorite span {
  color: #fff;
}
.chart_section .wrapper .chart_list li:hover .chart_bg {
  opacity: 1;
}

/* wrapper exam */
@media screen and (max-width: 1250px) {
  .wrapper {
    width: auto;
    margin: 0 35px;
  }
}
.detail_hr {
  width: 100%;
  height: 1px;
  background: #dedede;
}

.subtitles {
  font-size: 3rem;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  gap: 10px;
  margin-bottom: 30px;
  color: #fff;
}

#detail_page {
  width: 100%;
  height: 100%;
}
#detail_page .main_color {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
}
#detail_page .main_color .main_black {
  width: 100%;
  height: 100%;
  background: #000;
}
#detail_page .main_color .main_gradient {
  width: 100%;
  height: 815px;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, rgb(37, 112, 181) 0%, rgb(0, 0, 0) 100%);
}
#detail_page .detail_main_section {
  padding-top: 100px;
  margin-bottom: 150px;
}
#detail_page .detail_main_section .detail_main {
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 40px;
  overflow: hidden;
  position: relative;
}
#detail_page .detail_main_section .detail_main .detail_main_img {
  width: 100%;
  height: 1050px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
}
#detail_page .detail_main_section .detail_main .detail_main_img img {
  position: absolute;
  top: 0;
  width: 100%;
  object-fit: cover;
}
#detail_page .detail_main_section .detail_main .detail_main_inner {
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  display: flex;
  gap: 40px;
  position: absolute;
}
#detail_page .detail_main_section .detail_main .detail_main_inner .detail_main_text {
  width: 80%;
  bottom: 100px;
  left: 60px;
  word-break: keep-all;
  position: absolute;
}
#detail_page .detail_main_section .detail_main .detail_main_inner .detail_main_text p {
  font-size: 1.6rem;
  line-height: 130%;
  margin-bottom: 40px;
}
#detail_page .detail_main_section .detail_main .detail_main_inner .detail_main_text .detail_main_text_inner {
  width: 80%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
#detail_page .detail_main_section .detail_main .detail_main_inner .detail_main_text .detail_main_text_inner h3 {
  font-size: 2rem;
  font-weight: bold;
}
#detail_page .detail_main_section .detail_main .detail_main_inner .detail_main_text .detail_main_text_inner p {
  font-size: 1.4rem;
  line-height: 130%;
}
#detail_page .detail_main_section .detail_main .detail_main_inner .detail_main_btn {
  bottom: 70px;
  left: 60px;
  display: flex;
  gap: 10px;
  position: absolute;
}
#detail_page .detail_main_section .detail_main .detail_main_inner .detail_main_btn button {
  width: 138px;
  height: 38px;
  background: #222;
  color: #fff;
  border: none;
  border-radius: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  transition: all 0.4s;
}
#detail_page .detail_main_section .detail_main .detail_main_inner .detail_main_btn button img {
  width: 16px;
}
#detail_page .detail_main_section .detail_main .detail_main_inner .detail_main_btn button span {
  font: 300 1.6rem/1 pretendard;
}
#detail_page .detail_main_section .detail_main .detail_main_inner .detail_main_btn button:hover {
  background: #03d8c5;
}
#detail_page .detail_main_section .detail_main .detail_main_inner .detail_main_btn button:last-child {
  width: 152px;
  background: #fff;
  border: 1px solid #222;
  color: #222;
  transition: all 0.4s;
}
#detail_page .detail_main_section .detail_main .detail_main_inner .detail_main_btn button:last-child > img {
  width: 9px;
}
#detail_page .detail_main_section .detail_main .detail_main_inner .detail_main_btn button:last-child:hover {
  background: #222;
  color: #fff;
}
#detail_page .detail_main_section .detail_main .detail_main_inner > img {
  position: absolute;
  right: 3vh;
  bottom: 3vh;
  width: 20%;
}
#detail_page .detail_introduce_section {
  margin-bottom: 150px;
}
#detail_page .detail_introduce_section .detail_introduce_text {
  width: 100%;
  color: #fff;
  margin-bottom: 60px;
}
#detail_page .detail_introduce_section .detail_introduce_text h1 {
  font-size: 10rem;
}
#detail_page .detail_introduce_section .detail_introduce_text .detail_introduce_main {
  display: flex;
  gap: 20px;
  font-size: 1.6rem;
  font-weight: 200;
}
#detail_page .detail_introduce_section .detail_introduce_text .detail_introduce_main b {
  margin-right: 10px;
}
#detail_page .detail_introduce_section .detail_introduce_mem {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
#detail_page .detail_introduce_section .detail_introduce_mem > div {
  display: flex;
  flex-direction: column;
  color: #fff;
}
#detail_page .detail_introduce_section .detail_introduce_mem > div b {
  font-weight: 500;
  font-size: 2.3rem;
  margin-top: 25px;
}
#detail_page .detail_introduce_section .detail_introduce_mem > div span {
  font-size: 2rem;
  font-weight: 200;
}
#detail_page .detail_introduce_section .detail_introduce_mem img {
  width: 130px;
  border-radius: 10px;
}
#detail_page .detail_hr {
  margin-bottom: 130px;
}
#detail_page .detail_MV_section {
  width: 100%;
  margin-bottom: 130px;
}
#detail_page .detail_MV_section .plave_official_MV .youtube {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  border-radius: 20px;
  overflow: hidden;
}
#detail_page .detail_MV_section .plave_official_MV .youtube iframe {
  max-width: 100%;
  position: absolute;
  width: 100%;
  height: 100%;
}
#detail_page .detail_music_section {
  margin-bottom: 120px;
}
#detail_page .detail_media_section {
  margin-bottom: 130px;
}
#detail_page .detail_media_section .detail_media .media-list {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: space-between;
}
#detail_page .detail_media_section .detail_media .media-list li {
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
#detail_page .detail_media_section .detail_media .media-list li .youtube {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  border-radius: 20px;
  overflow: hidden;
}
#detail_page .detail_media_section .detail_media .media-list li .youtube iframe {
  max-width: 100%;
  position: absolute;
  width: 100%;
  height: 100%;
}
#detail_page .detail_media_section .detail_media .media-list li .detail_media_text {
  font-size: 1.8rem;
  line-height: 2.2rem;
  color: #fff;
  word-break: keep-all;
}
#detail_page .detail_fantalk_section {
  margin-bottom: 110px;
}
#detail_page .detail_fantalk_section .detail_fantalk_contents {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
#detail_page .detail_fantalk_section .detail_fantalk_contents .detail_fantalk_content {
  display: flex;
  justify-content: space-between;
}
#detail_page .detail_fantalk_section .detail_fantalk_contents .detail_fantalk_content .detail_fantalk_text {
  word-break: keep-all;
}
#detail_page .detail_fantalk_section .detail_fantalk_contents .detail_fantalk_content .detail_fantalk_text h5 {
  font-size: 1.5rem;
  color: #fff;
  margin-bottom: 15px;
}
#detail_page .detail_fantalk_section .detail_fantalk_contents .detail_fantalk_content .detail_fantalk_text h6 {
  font-size: 1.4rem;
  font-weight: 200;
  color: #666;
  margin-bottom: 5px;
}
#detail_page .detail_fantalk_section .detail_fantalk_contents .detail_fantalk_content .detail_fantalk_text h6 a {
  cursor: pointer;
}
#detail_page .detail_fantalk_section .detail_fantalk_contents .detail_fantalk_content .detail_fantalk_text p {
  font-size: 1.6rem;
  font-weight: 200;
  line-height: 1.4;
  color: #fff;
}
#detail_page .detail_fantalk_section .detail_fantalk_contents .detail_fantalk_content .detail_fantalk_heart img {
  cursor: pointer;
  width: 17px;
}
#detail_page .detail_fantalk_section .detail_fantalk_contents .detail_fantalk_content .detail_fantalk_heart span {
  font-size: 1.6rem;
  color: #03d8c5;
}
#detail_page .detail_end_hr {
  margin-bottom: 33px;
}
#detail_page .detail_sns_section {
  margin-bottom: 100px;
}
#detail_page .detail_sns_section .detail_sns {
  display: flex;
  justify-content: space-between;
  width: 180px;
}
#detail_page .detail_sns_section .detail_sns i {
  font-size: 2.5rem;
  color: #fff;
}
#detail_page .detail_sns_section .detail_sns img {
  width: 25px;
}
#detail_page #detail_blackbx {
  z-index: 3;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.7;
}
#detail_page #detail_blackbx.active {
  display: block;
}
#detail_page #modal_section {
  z-index: 4;
  display: none;
  position: fixed;
  top: 10vh;
  left: 50%;
  transform: translateX(-50%);
  width: 600px;
  height: 800px;
}
#detail_page #modal_section.active {
  display: block;
}
#detail_page #modal_section .modal {
  width: 100%;
  height: 100%;
  border-radius: 40px;
  background: linear-gradient(180deg, rgb(37, 112, 181) 0%, rgb(0, 0, 0) 100%);
}
#detail_page #modal_section .modal .mslide_wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
#detail_page #modal_section .modal .mslide_wrapper .mslides {
  position: absolute;
  top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -900px;
  gap: 100px;
}
#detail_page #modal_section .modal .mslide_wrapper .mslides.animated {
  transition: all 0.5s;
}
#detail_page #modal_section .modal .mslide_wrapper .mslides li {
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 70px;
}
#detail_page #modal_section .modal .mslide_wrapper .mslides li .modal_img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
}
#detail_page #modal_section .modal .mslide_wrapper .mslides li .modal_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#detail_page #modal_section .modal .mslide_wrapper .mslides li .modal_text {
  top: 440px;
  position: absolute;
  width: 300px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 1;
}
#detail_page #modal_section .modal .mslide_wrapper .mslides li .modal_text h2 {
  font-size: 3.3rem;
}
#detail_page #modal_section .modal .mslide_wrapper .mslides li .modal_text h3 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}
#detail_page #modal_section .modal .mslide_wrapper .mslides li .modal_text p {
  word-break: keep-all;
  font-size: 1.6rem;
  font-weight: 200;
  line-height: 2.4rem;
  text-align: center;
}
#detail_page #modal_section .modal .modal_slide_arrow {
  position: absolute;
  display: flex;
  gap: 480px;
  top: 280px;
  left: 50%;
  transform: translateX(-50%);
}
#detail_page #modal_section .modal .modal_slide_arrow i {
  color: #fff;
  font-size: 4rem;
  opacity: 0.5;
  transition: all 0.4s;
}
#detail_page #modal_section .modal .modal_slide_arrow i:hover {
  opacity: 1;
}
#detail_page #modal_section .modal .modal_close {
  width: 30px;
  height: 30px;
  top: 15px;
  right: -35px;
  position: absolute;
  cursor: pointer;
}
#detail_page #modal_section .modal .modal_close div {
  width: 30px;
  height: 2px;
  background: #fff;
}
#detail_page #modal_section .modal .modal_close div:first-child {
  transform: rotate(45deg);
}
#detail_page #modal_section .modal .modal_close div:last-child {
  transform: rotate(135deg);
}

.magazine_area h3 {
  margin: 80px 0 35px;
  font-size: 3rem;
}
.magazine_area .magazine_list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: -15px;
}
.magazine_area .magazine_list li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 33.33%;
  font-size: 0;
  padding: 15px;
}
.magazine_area .magazine_list li .inner {
  display: block;
  border-radius: 20px;
  overflow: hidden;
}
.magazine_area .magazine_list li .inner .img {
  width: 100%;
  font-size: 0;
}
.magazine_area .magazine_list li .inner .img img {
  width: 100%;
  object-fit: cover;
}
.magazine_area .magazine_list li .inner .con {
  background: #f3f3f3;
  padding: 20px 22px;
}
.magazine_area .magazine_list li .inner .con .txt {
  position: relative;
}
.magazine_area .magazine_list li .inner .con .txt h4,
.magazine_area .magazine_list li .inner .con .txt p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  width: 90%;
}
.magazine_area .magazine_list li .inner .con .txt h4 {
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.4;
}
.magazine_area .magazine_list li .inner .con .txt p {
  font-size: 1.4rem;
  line-height: 1.4;
  margin-top: 5px;
}
.magazine_area .magazine_list li .inner .con .txt i {
  position: absolute;
  font-size: 1.8rem;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

/* font */
.gray_bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -100;
  background: #f3f3f3;
}

.login_wrapper {
  padding: 60px 75px;
  width: 600px;
  height: 800px;
  border: none;
  background: #fff;
  left: 50%;
  transform: translateX(-50%);
  position: relative;
  margin-top: 58px;
  border-radius: 40px;
}
.login_wrapper .logo {
  width: 197px;
}
.login_wrapper .login {
  margin-top: 50px;
}
.login_wrapper .eye {
  position: relative;
}
.login_wrapper .eye input {
  width: 450px;
  height: 27px;
  margin-top: 18px;
  border: none;
  border-bottom: 1px solid #999;
}
.login_wrapper .eye input::placeholder {
  transition: opacity 0.3s;
}
.login_wrapper .eye input:focus {
  outline: none;
}
.login_wrapper .eye input:focus::placeholder {
  opacity: 0;
}
.login_wrapper .eye i {
  color: #999;
  position: absolute;
  top: 50%;
  right: 8px;
  cursor: pointer;
}
.login_wrapper #identity {
  color: #666;
}
.login_wrapper #lock {
  margin-top: 27px;
  color: #666;
}
.login_wrapper .save {
  margin-top: 22px;
  margin-bottom: 50px;
}
.login_wrapper .save label {
  cursor: pointer;
}
.login_wrapper .button {
  display: block;
  width: 450px;
  height: 59px;
  margin-bottom: 12px;
  border-radius: 10px;
  background: #03d8c5;
  color: #fff;
  border: none;
  font-weight: bold;
  font-size: 2rem;
  cursor: pointer;
}
.login_wrapper #search {
  display: flex;
  color: #999;
  justify-content: center;
  margin-bottom: 50px;
  gap: 19px;
}
.login_wrapper #search .line {
  background: #999;
  width: 1px;
  height: 18px;
  cursor: none;
}
.login_wrapper .continue a {
  display: flex;
  width: 450px;
  height: 60px;
  color: #666;
  border: 1px solid #999;
  align-items: center;
  border-radius: 50px;
  padding-left: 90px;
  margin-bottom: 8px;
  gap: 35px;
}
.login_wrapper .continue a #Google {
  margin-right: 35px;
}
.login_wrapper .continue a > #apple {
  width: 20px;
  height: 23px;
}
.login_wrapper .continue a #Facebook {
  margin-right: 35px;
}
.login_wrapper .continue a p {
  font-size: 2rem;
}

.log_onwrapper {
  width: 600px;
  height: 800px;
  background: #fff;
  padding: 44px 75px;
  margin-top: 58px;
  position: absolute;
  justify-content: center;
  border-radius: 40px;
  left: 50%;
  transform: translateX(-50%);
}
.log_onwrapper .logo2 {
  width: 197px;
  height: 30px;
  margin-bottom: 30px;
  position: relative;
}
.log_onwrapper .logon_contents {
  padding: 0;
  width: 450px;
  height: 750px;
  position: absolute;
}
.log_onwrapper .logon_contents li {
  width: 450px;
  height: 60px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 27px;
  position: relative;
}
.log_onwrapper .logon_contents li input::placeholder {
  transition: all 0.3s;
}
.log_onwrapper .logon_contents li input:focus {
  outline: none;
}
.log_onwrapper .logon_contents li input:focus::placeholder {
  opacity: 0;
}
.log_onwrapper .logon_contents li .border {
  width: 100%;
  height: 27px;
  border: none;
  border-bottom: 1px solid #999;
}
.log_onwrapper .logon_contents li i {
  color: #999;
  position: absolute;
  top: 50%;
  right: 8px;
  cursor: pointer;
}
.log_onwrapper .logon_contents li .number {
  padding-top: 12px;
}
.log_onwrapper .logon_contents li .number input {
  position: relative;
}
.log_onwrapper .logon_contents li .number input i {
  color: #999;
  position: absolute;
  top: 50%;
  right: 8px;
}
.log_onwrapper .logon_contents .fourbox {
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
}
.log_onwrapper .logon_contents .fourbox button {
  width: 108px;
  height: 40px;
  color: #666;
  border: 1px solid #999;
  cursor: pointer;
}
.log_onwrapper .logon_contents .fourbox button:active {
  background-color: #03d8c5;
  transform: scale(1);
}
.log_onwrapper .logon_contents .fourbox button:first-child {
  border-radius: 8px 0 0 8px;
  border-right: none;
}
.log_onwrapper .logon_contents .fourbox button:nth-child(2) {
  margin-right: 21px;
  border-radius: 0px 8px 8px 0px;
}
.log_onwrapper .logon_contents .fourbox button:nth-child(3) {
  border-radius: 8px 0px 0px 8px;
  border-right: none;
}
.log_onwrapper .logon_contents .fourbox button:nth-child(4) {
  border-radius: 0px 8px 8px 0px;
}
.log_onwrapper .signup {
  display: block;
}
.log_onwrapper .signup > div {
  width: 450px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  border-radius: 10px;
  background: #03d8c5;
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  border: none;
}

.mypage {
  width: 600px;
  margin-top: 150px;
  padding: 60px 90px;
  background: #fff;
  border-radius: 40px;
  position: relative;
  margin-bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
}
.mypage .info {
  width: 100%;
}
.mypage .info .myinfo {
  font-size: 3.2rem;
  margin-bottom: 32px;
}
.mypage .info .info_list {
  display: flex;
  flex-direction: column;
  gap: 43px;
}
.mypage .info .info_list li {
  display: flex;
  flex-direction: column;
  position: relative;
  font-size: 2rem;
}
.mypage .info .info_list li span {
  display: flex;
  justify-content: space-between;
}
.mypage .info .info_list li span button {
  position: absolute;
  color: #03d8c5;
  background: #fff;
  top: 15%;
  left: 85%;
  width: 65px;
  height: 45px;
  border-radius: 10px;
  border: 2px solid #03d8c5;
  cursor: pointer;
}
.mypage .info .agree {
  font-size: 3.2rem;
  margin-top: 115px;
  margin-bottom: 49px;
}
.mypage .info .personal_info {
  position: relative;
}
.mypage .info .personal_info li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  font-size: 2rem;
}
.mypage .info .personal_info li span {
  cursor: pointer;
  font-size: 2rem;
}
.mypage .info .personal_info li span i {
  margin-left: 10px;
  color: #999;
}
.mypage .info .logout {
  display: flex;
  justify-content: center;
  margin-top: 150px;
  font-size: 1.5rem;
  color: #999;
  cursor: pointer;
}
.mypage .info .logout :hover {
  border-bottom: 1px solid #999;
}