/*color*/
/* font */
/*header height*/
@media screen and (max-width: 1250px) {
  .wrapper {
    width: auto;
    margin: 0 35px;
  }
}
@media screen and (max-width: 1440px) {
  #header {
    height: 80px;
  }
  #header .header_wrap {
    margin: 0 35px;
  }
  #header .header_wrap .header_left {
    gap: 40px;
  }
  #header .header_wrap .header_left .header_logo a img {
    zoom: 0.9;
  }
  #header .header_wrap .header_left #gnb ul {
    gap: 30px;
  }
  #header .header_wrap .header_left #gnb ul li a {
    font-size: 1.8rem;
  }
  #header .header_wrap .header_right .search_bar .search_txt {
    width: 160px;
  }
}
@media screen and (max-width: 1023px) {
  #header {
    height: 60px;
  }
  #header .header_wrap {
    margin: 0 35px;
  }
  #header .header_wrap .header_left .header_logo a img {
    zoom: 0.6;
  }
  #header .header_wrap .header_right {
    display: none;
  }
  #header .header_wrap .header_right_m {
    position: absolute;
    right: 35px;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  #header .header_wrap .header_right_m .search_btn {
    background: none;
    border: none;
    cursor: pointer;
  }
  #header .header_wrap .header_right_m .search_btn img {
    width: 20px;
  }
  #header .header_wrap .header_right_m .signup_btn_m {
    display: block;
    margin-right: 30px;
  }
  #header .header_wrap .header_right_m .signup_btn_m i {
    font-size: 19px;
  }
  #header .header_wrap .header_right_m .m_trigger_bar {
    position: fixed;
    right: 35px;
    z-index: 15;
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
  }
  #header .header_wrap .header_right_m .m_trigger_bar span {
    width: 20px;
    height: 2px;
    background: #222;
    transition: all 0.4s;
  }
  #header .header_wrap .header_right_m .m_trigger_bar.active span:nth-child(1) {
    transform: rotate(45deg);
    transform-origin: left center;
  }
  #header .header_wrap .header_right_m .m_trigger_bar.active span:nth-child(2) {
    opacity: 0;
    transform: translateX(100%);
  }
  #header .header_wrap .header_right_m .m_trigger_bar.active span:nth-child(3) {
    transform: rotate(-45deg);
    transform-origin: left center;
  }
  #header .header_wrap #m_header_menu {
    display: block;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    transition: left 0.4s;
  }
  #header .header_wrap #m_header_menu #m_header_menuBox {
    position: fixed;
    top: 0;
    right: -100%;
    width: 300px;
    height: 100vh;
    z-index: 5;
    background: #fff;
    transition: right 0.3s;
    transition-timing-function: linear;
  }
  #header .header_wrap #m_header_menu.active {
    left: 0;
  }
  #header .header_wrap #m_header_menu.active #m_header_menuBox {
    right: 0;
  }
}
@media screen and (max-width: 560px) {
  #header .header_wrap #m_header_menu #m_header_menuBox {
    width: 100%;
  }
}