@media screen and (max-width: 1250px) {
  .wrapper {
    width: auto;
    margin: 0 35px;
  }
}
@media screen and (max-width: 767px) {
  .wrapper {
    margin: 0 20px;
  }
}
@media screen and (max-width: 1440px) {
  #header {
    height: 80px;
  }
  #header.scroll::before {
    height: 80px;
  }
  #header .header_wrap {
    margin: 0 35px;
  }
  #header .header_wrap .header_left {
    gap: 40px;
  }
  #header .header_wrap .header_left .header_logo a img {
    zoom: 0.9;
  }
  #header .header_wrap .header_left #gnb {
    gap: 30px;
  }
  #header .header_wrap .header_left #gnb li a {
    font-size: 1.8rem;
  }
  #header .header_wrap .header_right .search_bar .search_txt {
    width: 160px;
  }
}
@media screen and (max-width: 1023px) {
  #header {
    height: 60px;
  }
  #header.scroll::before {
    height: 60px;
  }
  #header .header_wrap {
    margin: 0 35px;
  }
  #header .header_wrap .header_left .header_logo a img {
    zoom: 0.6;
  }
  #header .header_wrap .header_left #gnb {
    position: absolute;
    z-index: 1500;
    top: 110px;
    right: -100%;
    flex-direction: column;
    align-items: flex-start;
    transition: all 0.3s;
  }
  #header .header_wrap .header_left #gnb li a {
    font-size: 2rem;
  }
  #header .header_wrap .header_left #gnb.active {
    right: 150px;
  }
  #header .header_wrap .header_right {
    display: none;
  }
  #header .header_wrap .header_right_m {
    position: absolute;
    right: 35px;
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 0;
  }
  #header .header_wrap .header_right_m .search_btn_m {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 0;
  }
  #header .header_wrap .header_right_m .search_btn_m img {
    width: 18px;
  }
  #header .header_wrap .header_right_m .search_btn_m img:nth-child(1) {
    display: block;
  }
  #header .header_wrap .header_right_m .search_btn_m img:nth-child(2) {
    display: none;
  }
  #header .header_wrap .header_right_m .signup_btn_m {
    display: block;
    margin-right: 35px;
  }
  #header .header_wrap .header_right_m .signup_btn_m img {
    width: 18px;
  }
  #header .header_wrap .header_right_m .signup_btn_m img:nth-child(1) {
    display: block;
  }
  #header .header_wrap .header_right_m .signup_btn_m img:nth-child(2) {
    display: none;
  }
  #header .header_wrap .header_right_m .trigger_bar_m {
    position: absolute;
    right: 0;
    z-index: 1500;
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
  }
  #header .header_wrap .header_right_m .trigger_bar_m span {
    width: 20px;
    height: 2px;
    background: #222;
    transition: all 0.4s;
  }
  #header .header_wrap .header_right_m .trigger_bar_m.active span:nth-child(1) {
    transform: rotate(45deg);
    transform-origin: left center;
  }
  #header .header_wrap .header_right_m .trigger_bar_m.active span:nth-child(2) {
    opacity: 0;
    transform: translateX(100%);
  }
  #header .header_wrap .header_right_m .trigger_bar_m.active span:nth-child(3) {
    transform: rotate(-45deg);
    transform-origin: left center;
  }
  #header .header_wrap #header_menu_m {
    display: block;
    position: fixed;
    z-index: 900;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
    transition: left 0.4s;
    transition-timing-function: ease-in-out;
  }
  #header .header_wrap #header_menu_m #header_menuBox {
    position: fixed;
    top: 0;
    right: -100%;
    width: 300px;
    height: 100vh;
    z-index: 900;
    background: #fff;
    transition: right 0.3s;
    transition-timing-function: ease-in-out;
  }
  #header .header_wrap #header_menu_m.active {
    left: 0;
  }
  #header .header_wrap #header_menu_m.active #header_menuBox {
    right: 0;
  }
  #header .header_wrap #search_area_m {
    display: none;
    width: 100%;
    padding: 20px 35px;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    top: 60px;
    transform: translateY(-1px);
    left: 0;
    background: #fff;
    border-bottom: 1px solid #dedede;
  }
  #header .header_wrap #search_area_m.active {
    display: flex;
  }
  #header .header_wrap #search_area_m .search_bar {
    width: 100%;
    padding: 12px 16px;
    gap: 15px;
    background: #fafafa;
    align-items: center;
    border-radius: 8px;
  }
  #header .header_wrap #search_area_m .search_bar .search_btn img {
    width: 18px;
  }
  #header .header_wrap #search_area_m .search_bar .search_txt {
    width: 100%;
    padding-bottom: 0;
    border-bottom: 0;
  }
  #header .header_wrap #search_area_m .search_close_m {
    margin-left: 15px;
    font-size: 0;
  }
  #header .header_wrap #search_area_m .search_close_m img {
    width: 12px;
  }
  #header.bg_black .header_wrap .header_left #gnb li a {
    color: #222;
  }
  #header.bg_black .header_wrap .header_right_m .search_btn_m img:nth-child(1) {
    display: none;
  }
  #header.bg_black .header_wrap .header_right_m .search_btn_m img:nth-child(2) {
    display: block;
  }
  #header.bg_black .header_wrap .header_right_m .signup_btn_m img:nth-child(1) {
    display: none;
  }
  #header.bg_black .header_wrap .header_right_m .signup_btn_m img:nth-child(2) {
    display: block;
  }
  #header.bg_black .header_wrap .header_right_m .trigger_bar_m span {
    background: #fff;
  }
  #header.bg_black .header_wrap .header_right_m .trigger_bar_m.active span {
    background: #222;
  }
  #header.bg_black .header_wrap #search_area_m {
    background: none;
    border-bottom: 0;
  }
}
@media screen and (max-width: 767px) {
  #header .header_wrap {
    margin: 0 20px;
  }
  #header .header_wrap .header_left #gnb li a {
    font-size: 1.9rem;
  }
  #header .header_wrap .header_right_m {
    right: 20px;
  }
  #header .header_wrap #search_area_m {
    padding: 20px 20px;
  }
  #header .header_wrap #search_area_m .search_close_m {
    margin-left: 12px;
  }
}
@media screen and (max-width: 500px) {
  #header .header_wrap .header_left #gnb.active li a {
    font-size: 1.7rem;
  }
}
@media screen and (max-width: 1440px) {
  .sub_visual {
    padding-top: 80px;
  }
  .sub_visual .sub_visual_wrap {
    height: 280px;
    border-radius: 35px;
  }
  .sub_visual .sub_visual_wrap .wrapper {
    padding: 50px 0;
    margin: 0 auto;
  }
  .sub_visual .sub_visual_wrap .wrapper .sub_text {
    align-items: center;
    justify-content: center;
    gap: 14px;
  }
  .sub_visual .sub_visual_wrap .wrapper .sub_text h2 {
    padding-top: 10px;
    font-size: 6.5rem;
  }
  .sub_visual .sub_visual_wrap .wrapper .sub_text h2 span::after {
    width: 20px;
  }
  .sub_visual .sub_visual_wrap .wrapper .sub_text p {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 1023px) {
  .sub_visual {
    padding-top: 60px;
  }
  .sub_visual .sub_visual_wrap {
    height: 230px;
    border-radius: 25px;
  }
  .sub_visual .sub_visual_wrap .wrapper {
    padding: 0;
  }
  .sub_visual .sub_visual_wrap .wrapper .sub_text {
    gap: 12px;
  }
  .sub_visual .sub_visual_wrap .wrapper .sub_text h2 {
    padding-top: 6px;
    font-size: 5.8rem;
  }
  .sub_visual .sub_visual_wrap .wrapper .sub_text h2 span::after {
    width: 16px;
  }
  .sub_visual .sub_visual_wrap .wrapper .sub_text p {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 767px) {
  .sub_visual {
    margin: 0 20px;
  }
  .sub_visual .sub_visual_wrap {
    height: 180px;
  }
  .sub_visual .sub_visual_wrap .wrapper .sub_text {
    gap: 10px;
  }
  .sub_visual .sub_visual_wrap .wrapper .sub_text h2 {
    padding-top: 4px;
    font-size: 4.4rem;
  }
  .sub_visual .sub_visual_wrap .wrapper .sub_text h2 span::after {
    width: 14px;
    left: calc(100% + 4px);
  }
  .sub_visual .sub_visual_wrap .wrapper .sub_text p {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 500px) {
  .sub_visual .sub_visual_wrap {
    height: 160px;
  }
  .sub_visual .sub_visual_wrap .wrapper .sub_text h2 {
    font-size: 3.4rem;
  }
  .sub_visual .sub_visual_wrap .wrapper .sub_text h2 span::after {
    width: 12px;
  }
  .sub_visual .sub_visual_wrap .wrapper .sub_text p {
    font-size: 1.3rem;
    text-align: center;
    width: 180px;
  }
}
@media screen and (max-width: 1440px) {
  .footer {
    height: 180px;
  }
  .footer .up_btn {
    width: 48px;
    height: 48px;
  }
  .footer .up_btn a div i {
    font-size: 1.6rem;
  }
  .footer .footer_wrap .footer_left {
    font-size: 1.6rem;
    gap: 16px;
  }
  .footer .footer_wrap .footer_left .footer_leftup {
    gap: 20px;
  }
  .footer .footer_wrap .footer_left .footer_leftup div {
    height: 15px;
  }
  .footer .footer_wrap .footer_left p {
    font-size: 1.4rem;
  }
  .footer .footer_wrap .footer_logo {
    width: 170px;
  }
}
@media screen and (max-width: 767px) {
  .footer {
    height: 140px;
  }
  .footer .up_btn {
    width: 40px;
    height: 40px;
    right: 4vh;
  }
  .footer .up_btn a div i {
    font-size: 1.6rem;
  }
  .footer .footer_wrap .footer_left {
    font-size: 1.2rem;
    gap: 10px;
  }
  .footer .footer_wrap .footer_left .footer_leftup {
    gap: 18px;
  }
  .footer .footer_wrap .footer_left .footer_leftup div {
    height: 14px;
  }
  .footer .footer_wrap .footer_left p {
    font-size: 1.1rem;
  }
  .footer .footer_wrap .footer_logo {
    width: 120px;
  }
}
@media screen and (max-width: 1440px) {
  .chart_section .wrapper .chart_list li .ranking {
    width: 8%;
    height: 70px;
    gap: 30px;
    position: static;
    z-index: 0;
    top: 0;
    right: 0;
    transform: translateY(0);
  }
  .chart_section .wrapper .chart_list li .music_info {
    width: 49%;
    padding-left: 0;
  }
  .chart_section .wrapper .chart_list li .chart_bg {
    width: calc(100% + (100vw - 1100px) / 2 + (100vw - 1100px) / 2 - 35px);
    left: calc(-1 * ((100vw - 1100px) / 2 - 35px));
  }
}
@media screen and (max-width: 1250px) {
  .chart_section {
    margin-top: 90px;
  }
  .chart_section .wrapper .chart_top .chart_cate {
    gap: 8px;
  }
  .chart_section .wrapper .chart_top .chart_cate li a {
    font-size: 1.5rem;
    padding: 8px 17px;
  }
  .chart_section .wrapper .chart_top .chart_realtime {
    font-size: 1.5rem;
  }
  .chart_section .wrapper .chart_head {
    margin-top: 20px;
    height: 75px;
  }
  .chart_section .wrapper .chart_head > div h3 {
    font-size: 1.7rem;
  }
  .chart_section .wrapper .chart_head .head_info {
    text-align: center;
    padding-left: 0;
  }
  .chart_section .wrapper .chart_list li {
    height: 110px;
    padding: 25px 0;
  }
  .chart_section .wrapper .chart_list li .ranking {
    height: 60px;
    gap: 8px;
    flex-direction: column;
    justify-content: center;
  }
  .chart_section .wrapper .chart_list li .ranking h4 {
    font-size: 1.7rem;
  }
  .chart_section .wrapper .chart_list li .ranking .icon img {
    width: 8px;
  }
  .chart_section .wrapper .chart_list li .music_info figure {
    width: 60px;
  }
  .chart_section .wrapper .chart_list li .music_info .music_names {
    width: calc(100% - 60px - 18px);
    padding-right: 12px;
  }
  .chart_section .wrapper .chart_list li .music_info .music_names h4 {
    font-size: 1.8rem;
  }
  .chart_section .wrapper .chart_list li .music_info .music_names h5 {
    font-size: 1.4rem;
  }
  .chart_section .wrapper .chart_list li .music_album {
    height: 60px;
    padding: 0 12px;
  }
  .chart_section .wrapper .chart_list li .music_album p {
    font-size: 1.4rem;
  }
  .chart_section .wrapper .chart_list li .music_favorite {
    height: 60px;
  }
  .chart_section .wrapper .chart_list li .music_favorite button img {
    width: 16px;
  }
  .chart_section .wrapper .chart_list li .music_favorite span {
    width: 51px;
    font-size: 1.3rem;
  }
  .chart_section .wrapper .chart_list li .music_player {
    height: 60px;
  }
  .chart_section .wrapper .chart_list li .music_player button img {
    width: 30px;
  }
  .chart_section .wrapper .chart_list li .chart_bg {
    width: calc(100% + 35px);
    left: 0px;
  }
  .chart_section .wrapper .chart_list li:hover {
    height: 250px;
  }
  .paging_area {
    margin-top: 35px;
  }
  .paging_area .paging_wrap {
    gap: 4px;
  }
  .paging_area .paging_wrap .paging_list {
    gap: 4px;
  }
  .paging_area .paging_wrap .paging_list li a {
    font-size: 1.5rem;
    width: 30px;
  }
  .paging_area .paging_wrap .paging_btn {
    width: 30px;
  }
  .paging_area .paging_wrap .paging_btn span {
    font-size: 1.9rem;
  }
}
@media screen and (max-width: 1023px) {
  .chart_section {
    margin-top: 70px;
  }
  .chart_section .wrapper .chart_list li:hover {
    height: 200px;
  }
}
@media screen and (max-width: 767px) {
  .chart_section {
    margin-top: 60px;
  }
  .chart_section .wrapper .chart_top .chart_cate {
    gap: 7px;
  }
  .chart_section .wrapper .chart_top .chart_cate li a {
    font-size: 1.3rem;
    padding: 6px 14px;
  }
  .chart_section .wrapper .chart_top .chart_realtime {
    font-size: 1.3rem;
  }
  .chart_section .wrapper .chart_head {
    margin-top: 16px;
    height: 65px;
  }
  .chart_section .wrapper .chart_head > div h3 {
    font-size: 1.5rem;
  }
  .chart_section .wrapper .chart_head .head_info {
    width: 53%;
  }
  .chart_section .wrapper .chart_head .head_album {
    width: 24%;
  }
  .chart_section .wrapper .chart_head .head_favorite {
    width: 14%;
  }
  .chart_section .wrapper .chart_head .head_play {
    width: 9%;
  }
  .chart_section .wrapper .chart_list li {
    height: 75px;
    padding: 15px 0;
  }
  .chart_section .wrapper .chart_list li .ranking {
    width: 9%;
    height: 45px;
    gap: 6px;
  }
  .chart_section .wrapper .chart_list li .ranking h4 {
    font-size: 1.5rem;
  }
  .chart_section .wrapper .chart_list li .ranking .icon img {
    width: 7px;
  }
  .chart_section .wrapper .chart_list li .music_info {
    width: 44%;
  }
  .chart_section .wrapper .chart_list li .music_info figure {
    width: 45px;
  }
  .chart_section .wrapper .chart_list li .music_info .music_names {
    width: calc(100% - 45px - 12px);
    padding-right: 10px;
  }
  .chart_section .wrapper .chart_list li .music_info .music_names h4 {
    font-size: 1.5rem;
  }
  .chart_section .wrapper .chart_list li .music_info .music_names h5 {
    font-size: 1.3rem;
    margin-top: 3px;
  }
  .chart_section .wrapper .chart_list li .music_album {
    width: 24%;
    height: 45px;
    padding: 0 5px;
  }
  .chart_section .wrapper .chart_list li .music_album p {
    font-size: 1.2rem;
  }
  .chart_section .wrapper .chart_list li .music_favorite {
    width: 14%;
    height: 45px;
    gap: 2px;
  }
  .chart_section .wrapper .chart_list li .music_favorite button img {
    width: 13px;
  }
  .chart_section .wrapper .chart_list li .music_favorite span {
    width: 44px;
    font-size: 1.1rem;
  }
  .chart_section .wrapper .chart_list li .music_player {
    width: 9%;
    height: 45px;
  }
  .chart_section .wrapper .chart_list li .music_player button img {
    width: 25px;
  }
  .chart_section .wrapper .chart_list li .chart_bg {
    width: calc(100% + 20px);
  }
  .chart_section .wrapper .chart_list li:hover {
    height: 160px;
  }
  .paging_area {
    margin-top: 25px;
  }
  .paging_area .paging_wrap {
    gap: 3px;
  }
  .paging_area .paging_wrap .paging_list {
    gap: 3px;
  }
  .paging_area .paging_wrap .paging_list li a {
    font-size: 1.3rem;
    width: 26px;
  }
  .paging_area .paging_wrap .paging_btn {
    width: 26px;
  }
  .paging_area .paging_wrap .paging_btn span {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 500px) {
  .chart_section {
    margin-top: 45px;
  }
  .chart_section .wrapper .chart_top {
    flex-direction: column;
    align-items: start;
    gap: 15px;
  }
  .chart_section .wrapper .chart_top .chart_realtime {
    align-self: flex-end;
  }
  .chart_section .wrapper .chart_head {
    margin-top: 12px;
  }
  .chart_section .wrapper .chart_head .head_info {
    width: 66%;
  }
  .chart_section .wrapper .chart_head .head_album {
    display: none;
  }
  .chart_section .wrapper .chart_head .head_favorite {
    width: 20%;
  }
  .chart_section .wrapper .chart_head .head_play {
    width: 15%;
  }
  .chart_section .wrapper .chart_list li .ranking {
    width: 13%;
  }
  .chart_section .wrapper .chart_list li .music_info {
    width: 53%;
  }
  .chart_section .wrapper .chart_list li .music_info .music_names h4 {
    font-size: 1.4rem;
  }
  .chart_section .wrapper .chart_list li .music_info .music_names h5 {
    font-size: 1.2rem;
  }
  .chart_section .wrapper .chart_list li .music_album {
    display: none;
  }
  .chart_section .wrapper .chart_list li .music_favorite {
    width: 20%;
  }
  .chart_section .wrapper .chart_list li .music_player {
    width: 15%;
  }
  .chart_section .wrapper .chart_list li .music_player button img {
    width: 22px;
  }
  .chart_section .wrapper .chart_list li:hover {
    height: 130px;
  }
}
@media screen and (max-width: 1440px) {
  .chart_section.detailinfo_chart {
    margin-top: inherit;
  }
  .chart_section.detailinfo_chart .wrapper .chart_head {
    margin-top: 0;
  }
  .chart_section.detailinfo_chart .wrapper .chart_list li .music_info {
    width: 57%;
  }
}
@media screen and (max-width: 1250px) {
  .chart_section.detailinfo_chart .wrapper .chart_list li .music_info {
    width: 57%;
    padding-left: calc(10px + 3vw);
  }
  .chart_section.detailinfo_chart .wrapper .chart_list li .music_favorite span {
    width: 45px;
  }
}
@media screen and (max-width: 767px) {
  .chart_section.detailinfo_chart .wrapper .chart_list li .music_info {
    width: 53%;
    padding-left: 14px;
  }
  .chart_section.detailinfo_chart .wrapper .chart_list li .music_favorite span {
    width: 39px;
  }
}
@media screen and (max-width: 500px) {
  .chart_section.detailinfo_chart .wrapper .chart_list li .music_info {
    width: 66%;
    padding-left: 0;
  }
}
@media screen and (max-width: 1250px) {
  .chart_section.main_chart5 {
    margin-top: inherit;
  }
  .chart_section.main_chart5 .wrapper .chart_head {
    margin-top: inherit;
  }
}
@media screen and (max-width: 767px) {
  .chart_section.main_chart5 {
    margin-top: inherit;
  }
  .chart_section.main_chart5 .wrapper .chart_head {
    margin-top: inherit;
  }
}
@media screen and (max-width: 1440px) {
  .detail_subtitle {
    margin-bottom: 25px;
  }
  .detail_subtitle h3 {
    font-size: 2.5rem;
  }
  .detail_subtitle i {
    font-size: 2rem;
  }
  #detail_page .detail_main_section {
    padding-top: 80px;
  }
  #detail_page .detail_introduce_section .detail_introduce_text h1 {
    font-size: 8.5rem;
  }
  #detail_page .detail_introduce_section .detail_introduce_text .detail_introduce_main {
    font-size: 1.4rem;
  }
  #detail_page .detail_introduce_section .detail_introduce_mem {
    gap: 25px;
  }
  #detail_page .detail_introduce_section .detail_introduce_mem > div b {
    font-size: 2.2rem;
    margin-top: 20px;
  }
  #detail_page .detail_introduce_section .detail_introduce_mem > div span {
    font-size: 1.8rem;
  }
  #detail_page .detail_media_section .detail_media .media-list {
    justify-content: start;
    gap: 20px;
  }
  #detail_page .detail_media_section .detail_media .media-list li {
    width: 30vw;
  }
  #detail_page .detail_media_section .detail_media .media-list li .youtube {
    border-radius: 15px;
  }
  #detail_page .detail_media_section .detail_media .media-list li .detail_media_text {
    font-size: 1.4rem;
    line-height: 1.8rem;
  }
  #detail_page .detail_fantalk_section .detail_fantalk_contents {
    gap: 35px;
  }
  #detail_page .detail_fantalk_section .detail_fantalk_contents .detail_fantalk_content .detail_fantalk_text h5 {
    font-size: 1.4rem;
  }
  #detail_page .detail_fantalk_section .detail_fantalk_contents .detail_fantalk_content .detail_fantalk_text h6 {
    font-size: 1.3rem;
  }
  #detail_page .detail_fantalk_section .detail_fantalk_contents .detail_fantalk_content .detail_fantalk_text p {
    font-size: 1.5rem;
  }
  #detail_page .detail_fantalk_section .detail_fantalk_contents .detail_fantalk_content .detail_fantalk_heart img {
    width: 16px;
  }
  #detail_page .detail_fantalk_section .detail_fantalk_contents .detail_fantalk_content .detail_fantalk_heart span {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 1023px) {
  #detail_page .detail_main_section {
    padding-top: 60px;
  }
  #detail_page .detail_main_section .detail_main .detail_main_img {
    height: 950px;
  }
  #detail_page .detail_main_section .detail_main .detail_main_inner .detail_main_text {
    width: 70%;
    bottom: 80px;
  }
  #detail_page .detail_main_section .detail_main .detail_main_inner .detail_main_btn {
    bottom: 50px;
  }
  #detail_page .detail_main_section .detail_main .detail_main_inner .detail_main_btn button span {
    font: 300 1.4rem/34px pretendard;
  }
  #detail_page .detail_fantalk_section .detail_fantalk_contents {
    gap: 35px;
  }
  #detail_page .detail_fantalk_section .detail_fantalk_contents .detail_fantalk_content .detail_fantalk_text h5 {
    font-size: 1.3rem;
  }
  #detail_page .detail_fantalk_section .detail_fantalk_contents .detail_fantalk_content .detail_fantalk_text h6 {
    font-size: 1.2rem;
  }
  #detail_page .detail_fantalk_section .detail_fantalk_contents .detail_fantalk_content .detail_fantalk_text p {
    font-size: 1.4rem;
  }
  #detail_page .detail_fantalk_section .detail_fantalk_contents .detail_fantalk_content .detail_fantalk_heart img {
    width: 15px;
  }
  #detail_page .detail_fantalk_section .detail_fantalk_contents .detail_fantalk_content .detail_fantalk_heart span {
    font-size: 1.4rem;
  }
  #detail_page #modal_section {
    zoom: 0.8;
  }
}
@media screen and (max-width: 767px) {
  .detail_subtitle {
    margin-bottom: 15px;
  }
  .detail_subtitle h3 {
    font-size: 2rem;
  }
  .detail_subtitle i {
    font-size: 1.5rem;
  }
  #detail_page .detail_main_section {
    margin-bottom: 100px;
  }
  #detail_page .detail_main_section .detail_main .detail_main_img {
    height: 780px;
  }
  #detail_page .detail_main_section .detail_main .detail_main_inner .detail_main_text {
    bottom: 70px;
  }
  #detail_page .detail_main_section .detail_main .detail_main_inner .detail_main_text p {
    font-size: 1.4rem;
    margin-bottom: 20px;
  }
  #detail_page .detail_main_section .detail_main .detail_main_inner .detail_main_text .detail_main_text_inner h3 {
    font-size: 1.8rem;
  }
  #detail_page .detail_main_section .detail_main .detail_main_inner .detail_main_text .detail_main_text_inner p {
    font-size: 1.4rem;
  }
  #detail_page .detail_main_section .detail_main .detail_main_inner .detail_main_btn {
    bottom: 40px;
  }
  #detail_page .detail_main_section .detail_main .detail_main_inner .detail_main_btn button {
    width: 100px;
    height: 32px;
  }
  #detail_page .detail_main_section .detail_main .detail_main_inner .detail_main_btn button img {
    width: 14px;
  }
  #detail_page .detail_main_section .detail_main .detail_main_inner .detail_main_btn button span {
    font: 300 1.2rem/34px pretendard;
  }
  #detail_page .detail_main_section .detail_main .detail_main_inner .detail_main_btn button:last-child {
    width: 120px;
  }
  #detail_page .detail_main_section .detail_main .detail_main_inner > img {
    right: 3.5vh;
    bottom: 10vh;
  }
  #detail_page .detail_introduce_section {
    margin-bottom: 100px;
  }
  #detail_page .detail_introduce_section .detail_introduce_text h1 {
    font-size: 7rem;
  }
  #detail_page .detail_introduce_section .detail_introduce_text .detail_introduce_main {
    font-size: 1.2rem;
  }
  #detail_page .detail_introduce_section .detail_introduce_mem {
    gap: 26px;
  }
  #detail_page .detail_introduce_section .detail_introduce_mem > div b {
    font-size: 2rem;
    margin-top: 15px;
  }
  #detail_page .detail_introduce_section .detail_introduce_mem > div span {
    font-size: 1.6rem;
  }
  #detail_page .detail_media_section {
    margin-bottom: 100px;
  }
  #detail_page .detail_media_section .detail_media .media-list {
    flex-direction: column;
    gap: 30px;
  }
  #detail_page .detail_media_section .detail_media .media-list li {
    width: 100%;
  }
  #detail_page .detail_media_section .detail_media .media-list li .detail_media_text {
    font-size: 1.6rem;
    line-height: 2rem;
  }
  #detail_page .detail_fantalk_section {
    margin-bottom: 100px;
  }
  #detail_page .detail_fantalk_section .detail_fantalk_contents {
    gap: 30px;
  }
  #detail_page .detail_fantalk_section .detail_fantalk_contents .detail_fantalk_content .detail_fantalk_text h5 {
    font-size: 1.2rem;
  }
  #detail_page .detail_fantalk_section .detail_fantalk_contents .detail_fantalk_content .detail_fantalk_text h6 {
    font-size: 1.1rem;
  }
  #detail_page .detail_fantalk_section .detail_fantalk_contents .detail_fantalk_content .detail_fantalk_text p {
    font-size: 1.2rem;
  }
  #detail_page .detail_fantalk_section .detail_fantalk_contents .detail_fantalk_content .detail_fantalk_heart img {
    width: 14px;
  }
  #detail_page .detail_fantalk_section .detail_fantalk_contents .detail_fantalk_content .detail_fantalk_heart span {
    font-size: 1.2rem;
  }
  #detail_page .detail_end_hr {
    margin-bottom: 20px;
  }
  #detail_page .detail_sns_section {
    margin-bottom: 40px;
  }
  #detail_page .detail_sns_section .detail_sns {
    width: 140px;
  }
  #detail_page .detail_sns_section .detail_sns i {
    font-size: 2rem;
  }
  #detail_page .detail_sns_section .detail_sns img {
    width: 20px;
  }
  #detail_page #modal_section {
    zoom: 0.7;
  }
}
@media screen and (max-width: 1440px) {
  .main_visual {
    padding-top: 80px;
  }
  .artist_contents .wrapper .artist_icons li a .icon_text {
    padding: 20px 14px;
  }
  .artist_contents .wrapper .artist_icons li a .icon_text .artist_name {
    font-size: 2.2rem;
  }
}
@media screen and (max-width: 1023px) {
  .main_visual {
    padding-top: 60px;
  }
  .artist_contents {
    padding: 50px 0;
  }
  .artist_contents .wrapper h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
  }
  .artist_contents .wrapper .artist_icons {
    margin: -10px;
  }
  .artist_contents .wrapper .artist_icons li {
    padding: 10px;
  }
  .artist_contents .wrapper .artist_icons li a .icon_text {
    padding: 16px 10px;
  }
  .artist_contents .wrapper .artist_icons li a .icon_text .artist_name {
    font-size: 2rem;
  }
}
@media screen and (max-width: 670px) {
  .artist_contents {
    padding: 40px 0;
  }
  .artist_contents .wrapper h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  .artist_contents .wrapper .artist_icons {
    margin: -10px;
  }
  .artist_contents .wrapper .artist_icons li {
    padding: 10px;
    width: 33.33%;
  }
  .artist_contents .wrapper .artist_icons li a .icon_text {
    padding: 16px 10px;
  }
  .artist_contents .wrapper .artist_icons li a .icon_text .artist_name {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 500px) {
  .artist_contents {
    padding: 40px 0;
  }
  .artist_contents .wrapper h2 {
    font-size: 2.1rem;
    margin-bottom: 20px;
  }
  .artist_contents .wrapper .artist_icons {
    margin: -10px;
  }
  .artist_contents .wrapper .artist_icons li {
    padding: 10px;
    width: 50%;
  }
  .artist_contents .wrapper .artist_icons li a .icon_text {
    padding: 13px 10px;
  }
}/*# sourceMappingURL=responsive.css.map */